<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/tambah');
$frm->setAttribute('id', "formtambah");
$frm->prepare();
?>


<?php
$judul = '<span style="font-size: 24px;"><b>FORM BACKGROUND [TAMBAH]</b></span>';
$link = '';

echo $this->MenuHelper()->headeratas($judul, $link);
?>

<?= $this->form()->openTag($frm) ?>    

<div class="col-sm-12">
    <label class="col-sm-4 control-label">File BG</label>
    <div class="col-md-4"> 
        <?= $this->formRow($frm->get('t_file_bg')) ?> 
    </div>
</div>
<div class="col-sm-12">
    <label class="col-sm-4 control-label">Status Background</label>
    <div class="col-md-3">
        <?= $this->formSelect($frm->get("status_bg_esptpd")) ?>
    </div>
</div>

<div class="col-sm-6">
    
    <div class="pull-right">
        <?= $this->formInput($frm->get('simpan')) ?> 
        <a href="<?= $this->url('background') ?>" class="btn btn-warning btn-sm">Kembali</a>
    </div>
</div>
<?= $this->form()->closeTag($frm) ?>  
<?= $this->MenuHelper()->headeratas_end(); ?> 

