<?php
$judul = '<span style="font-size: 24px;"><b>SETTING BACKGROUND SLIDE</b></span>';
$link = '<a href="'.$this->url().'/tambah" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;TAMBAH
                            </a>    
';

echo $this->MenuHelper()->headeratas($judul, $link);
?>

<table id="example" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
    <thead>
        <tr class="bg-blue tableheader">
            <th width="15">No</th>
            <th>ID</th>
            <th>FILE</th>
            <th>User</th>
            <th>Status</th>
            <th>Perintah</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>

    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
</tfoot>
</table>




<?= $this->MenuHelper()->headeratas_end(); ?> 

<?php
    $idtabel = '#example';
    $url = $this->url().'/dataGrid';
    $jmlkolom = 5;
    $seleksi_kolom = "'0','2','5'"; //iki data sort di disabel
    $pencarian_bawah = 1;   //di aktifkan modif nang ngisor coy
?>
<?= $this->MenuHelper()->fr_datatables($this->basePath(), $idtabel, $url, $jmlkolom, $pencarian_bawah, $seleksi_kolom, null);?>


<script>
    function formpencarianbawah() {
        $('th', dTable.table().footer()).each(function () {

            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            var title = $('th').eq($(this).index()).text();
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else {
                $(this).html('<input type="text" placeholder="' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />');
            }

            if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            }
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'file') {
                $(this).html('');
            }
            
            
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'status') {
                $(this).html('<center><select class="pencariantable" style="width:80px;text-size:8pt;"><option value="">-- SEMUA --</option><option value="1">AKTIF</option><option value="2">TIDAK AKTIF</option></select></center>');
            }
        });
    }
    
    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
        }
        setTimeout(function () {
            dTable.ajax.reload();
        }, 500);
    }
</script>    