<html>

<head>
    <style type="text/css">
        .border_atas {
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        .border_kiri {
            border-left: 1px solid black;
            border-collapse: collapse;
        }

        .border_kanan {
            border-right: 1px solid black;
            border-collapse: collapse;
        }

        .border_bawah {
            border-bottom: 1px solid black;
            border-collapse: collapse;
        }

        .font_besar {
            font-size: 12pt;
        }

        .font_kecil {
            font-size: 10pt;
        }

        .font_lima {
            font-size: 7pt;
        }

        .font_tujuh {
            font-size: 7pt;
        }

        .font_sepuluh {
            font-size: 10pt;
        }

        .font_sembilan {
            font-size: 9pt;
        }

        @page {
            margin-top: 30px;
            margin-left: 40px;
            margin-right: 70px;

            /* ensure you append the header/footer name with 'html_' */
            header: html_MyCustomHeader;
            /* sets <htmlpageheader name="MyCustomHeader"> as the header */
            footer: html_MyCustomFooter;
            /* sets <htmlpagefooter name="MyCustomFooter"> as the footer */
        }
    </style>
</head>

<body>
    <?php
    ini_set("max_execution_time", 500);
    if (!function_exists('kekata')) {

        function kekata($x)
        {
            $x = abs($x);
            $angka = array(
                "",
                "Satu",
                "Dua",
                "Tiga",
                "Empat",
                "Lima",
                "Enam",
                "Tujuh",
                "Delapan",
                "Sembilan",
                "Sepuluh",
                "Sebelas"
            );
            $temp = "";
            if ($x < 12) {
                $temp = " " . $angka[$x];
            } else if ($x < 20) {
                $temp = kekata($x - 10) . " Belas";
            } else if ($x < 100) {
                $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
            } else if ($x < 200) {
                $temp = " Seratus" . kekata($x - 100);
            } else if ($x < 1000) {
                $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
            } else if ($x < 2000) {
                $temp = " Seribu" . kekata($x - 1000);
            } else if ($x < 1000000) {
                $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
            } else if ($x < 1000000000) {
                $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
            } else if ($x < 1000000000000) {
                $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
            } else if ($x < 1000000000000000) {
                $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
            }
            return $temp;
        }
    }

    function terbilang($x, $style = 4)
    {
        if ($x < 0) {
            $hasil = "MINUS " . trim(kekata($x));
        } else {
            $hasil = trim(kekata($x));
        }
        switch ($style) {
            case 1:
                $hasil = strtoupper($hasil);
                break;
            case 2:
                $hasil = strtolower($hasil);
                break;
            case 3:
                $hasil = ucwords($hasil);
                break;
            default:
                $hasil = ucfirst($hasil);
                break;
        }
        return $hasil;
    }

    $text_bulan = array('01' => 'Januari', '02' => 'Februari', '03' => 'Maret', '04' => 'April', '05' => 'Mei', '06' => 'Juni', '07' => 'Juli', '08' => 'Agustus', '09' => 'September', '10' => 'Oktober', '11' => 'November', '12' => 'Desember');

    if (!empty($bulan_pajak)) {
        $masa_pajak = 'Masa Pajak ' . $text_bulan[$bulan_pajak] . ' Tahun ' . $periode_pajak;
    } else {
        $masa_pajak = 'Masa Pajak Januari s/d Desember Tahun ' . $periode_pajak;
    }

    ?>
    <table class="border_bawah" style="width: 100%;font-family: arial;">
        <tr>
            <td>
                <?php $gambar = $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/public/upload/logo.png" ?>
                <img src="<?= $gambar ?>" style="width:50px; padding: 10px" />
            </td>
            <td style="padding-right:170px;">
                <center>
                    <span style="font-size:12pt">PEMERINTAH <?= strtoupper($ar_pemda->s_namakabkota) ?></span>
                    <br>
                    <span style="font-size:15pt; font-weight: bold"><?= strtoupper($ar_pemda->s_namainstansi) ?></span>
                    <br>
                    <?php
                    if ($ar_pemda->s_notelinstansi == 0 || $ar_pemda->s_notelinstansi == '') {
                        $no_telp = '';
                    } else {
                        $no_telp = 'Telp/Fax ' . $ar_pemda->s_notelinstansi . ',';
                    }
                    ?>
                    <!-- <?= $ar_pemda->s_alamatinstansi ?> <?= $no_telp ?> <?= $ar_pemda->s_namaibukotakabkota ?> -->
                    <?= strtoupper($ar_pemda->s_alamatinstansi); ?> <?= $ar_pemda->s_namaibukotakabkota ?><br>Kodepos (<?= $ar_pemda->s_kodepos ?>), <?= $ar_pemda->s_namaprov ?> <br>Email : <?= $ar_pemda->s_email ?>
                </center>
            </td>
        </tr>
    </table>
    <table style="width: 100%;font-family: arial;margin:20px; ">
        <tr>
            <td style="text-align:center;">
                <h3>DATA PELAPORAN <?= strtoupper($nama_jenispajak) ?></h3>
            </td>
        </tr>
        <tr>
            <td style="text-align:center;"><?= $masa_pajak ?></td>
        </tr>
    </table>
    <table class="border_atas border_kanan border_bawah border_kiri" style="width: 100%;font-family: arial;font-size: 9pt;">
        <tr style="background-color:#CDCDCD">
            <th class="border_kanan" style="padding:5px;width: 5%;">No.</th>
            <th class="border_kanan" style="padding:5px;width: 7%;">No.SPTPD</th>
            <th class="border_kanan" style="padding:5px;width: 15%;">Nama WP</th>
            <th class="border_kanan" style="padding:5px;width: 15%;">Nama OP</th>
            <th class="border_kanan" style="padding:5px;width: 15%;">Masa Pajak</th>
            <th class="border_kanan" style="padding:5px;width: 10%;">Tgl Pendataan</th>
            <th class="border_kanan" style="padding:5px;width: 10%;">Jmlh Pajak(Rp.)</th>
            <th class="border_kanan" style="padding:5px;width: 10%;">Status<br>Pembayaran</th>
            <th class="" style="padding:5px;width: 5%;">Pelaporan<br>dari</th>
        </tr>
        <?php
        $nomor = 1;
        foreach ($data as $key => $row) {
            $t_statusbayar = ($row['t_tglpembayaran'] != "" ? '<b style="color:green"><center>Lunas / ' . "(" . date('d-m-Y', strtotime($row['t_tglpembayaran'])) . ")" . '</center></b>' : '<b style="color:red"><center>Belum Bayar</center></b>'); // returns true
            $is_esptpd = ($row['is_esptpd'] != 0 ? '<b style="color:#db403c">e-SPTPD</b>' : '<b style="color:#3850b8">SIMPATDA</b>');
            echo '<tr>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;text-align:right">' . $nomor++ . '. </td>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;text-align:center;">' . $row['t_nourut'] . '</td>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;">' . $row['t_nama'] . '</td>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;">' . $row['t_namaobjek'] . '</td>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;text-align:center;">' . date('d-m-Y', strtotime($row['t_masaawal'])) . ' s/d ' . date('d-m-Y', strtotime($row['t_masaakhir'])) . '</td>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;text-align:center;">' . date('d-m-Y', strtotime($row['t_tglpendataan'])) . '</td>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;text-align:right;">' . number_format($row['t_jmlhpajak']) . '</td>'
                . '<td class="border_kanan border_bawah border_atas" style="padding:5px;text-align:center;">' . $t_statusbayar . '</td>'
                . '<td class="border_bawah border_atas" style="padding:5px;text-align:center;">' . $is_esptpd . '</td>'
                . '</tr>';
        }
        ?>
    </table>

    <htmlpagefooter name="MyCustomFooter">
        <table style="vertical-align: bottom; font-family: serif;" width="100%">
            <tbody>
                <tr>
                    <!--<td width="33%"><span style="font-weight: bold; font-style: italic;">{DATE j-m-Y}</span></td>-->
                    <td class="border_kiri border_atas border_bawah" style="font-style: italic;text-align: left;font-size: 8pt;padding: 5px;" width="50%">Printed by e-SPTPD</td>
                    <td class="border_kanan border_atas border_bawah" style="font-style: italic;text-align: right;font-size: 8pt;padding: 5px;" width="50%">Halaman {PAGENO} dari {nbpg}</td>
                </tr>
            </tbody>
        </table>
    </htmlpagefooter>
</body>

</html>