<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pagedefault');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<?php
$judul = '<span style="font-size: 24px;"><b>LAPORAN ' . strtoupper($datapendaftaran['s_namajenis']) . '</b></span>';
$link = '';

echo $this->MenuHelper()->headeratas($judul, $link);
?>
<!--<center>
    <span style="font-family: sans-serif; text-align:right; background:black; border-radius: 25px; color: orange; padding: 5px 5px; font-size: 16px; font-weight:bolder">NPWPD : / ID OP : </span>
</center>-->
<?= $this->form()->openTag($form) ?>
<div class="row">
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA WP (Wajib Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NPWPD</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_npwpd'] ?> 
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nama'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA OP (Objek Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NOP</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nop'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_namaobjek'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamatlengkapobjek'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">HISTORY TRANSAKSI PAJAK</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="datatransaksi"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">FORM DATA LAPORAN</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <center><b class="blink" style="font-size: 12pt; color: red"><?= $message ?></b></center>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Tahun Pajak</label>
                        <div class="col-sm-1">
                            <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                            <?= $this->formHidden($form->get("t_idkorek")) ?>
                            <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                            <?= $this->formHidden($form->get("t_idobjek")) ?>
                            <?= $this->formHidden($form->get("t_jenispajak")) ?>
                            <?= $this->formText($form->get("t_periodepajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Masa Pajak</label>
                        <div class="col-sm-4">
                            <?= $this->formSelect($form->get("t_masapajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="rinciantanggal"></div>
                    </div>
                    <?php
                    if($datapendaftaran['s_objekkorek'] == 02 || $datapendaftaran['s_rinciankorek'] == 05){
                    ?>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Uraian</label>
                        <div class="col-sm-4">
                            <?= $this->formTextarea($form->get("t_namakegiatan")) ?>
                        </div>
                    </div>
                    <?php
                    }
                    ?>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Dasar Pengenaan/Omzet (Rp.)</label>
                        <div class="col-sm-2">
                            <?= $this->formText($form->get("t_dasarpengenaan")) ?>
                        </div>
                        <label class="col-sm-1 control-label">Tarif(%)</label>
                        <div class="col-sm-1">
                            <?= $this->formText($form->get("t_tarifpajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Total Pajak (Rp.)</label>
                        <div class="col-sm-4">
                            <?= $this->formText($form->get("t_jmlhpajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="bg-default" id="tombolsimpan">
                            <?= $this->formInput($form->get('Laporansubmit')) ?> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?= $this->form()->closeTag($form) ?>
<!--</div>-->
<!--</div>-->

<?= $this->MenuHelper()->headeratas_end(); ?> 

<script type="text/javascript">
//    $('#t_masapajak').change(function () {
//        $.post('<?= $this->url() ?>/CariRincianTanggal', {t_masapajak: $('#t_masapajak').val(), t_periodepajak: $('#t_periodepajak').val()}, function (data) {
//            var aa = JSON.parse(data);
//            $("#rinciantanggal").html(aa.rinciantanggal);
//            $("#t_dasarpengenaan").val(aa.t_dasarpengenaan);
//            $("#t_jmlhpajak").val(aa.t_jmlhpajak);
//        });
//    });

    $(function () {
        CariLaporanByObjek();
    });

    function CariLaporanByObjek() {
        $.post('<?= $this->url() ?>/CariLaporanByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }

    function hitungpajak() {
        $.post('<?= $this->url() ?>/hitungpajak', {t_dasarpengenaan: $("#t_dasarpengenaan").val(), t_tarifpajak: $("#t_tarifpajak").val(), t_tarifkenaikan: $("#t_tarifkenaikan").val(), t_jmlhkenaikan: $("#t_jmlhkenaikan").val(), t_jenispajak: $("#t_jenispajak").val(), t_idkorek: $("#t_idkorek").val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
            $('#t_tarifpajak').val(aa.t_tarifpajak);
        });
    }
    
//    function simpan() {
//        var ask = confirm('Apakah anda yakin data yang anda masukkan sudah benar?');
//        var btn = $('#Laporansubmit');
//        btn.prop('disabled',true);
//        if (ask) {
////            $("#bodynya").addClass('loading');
//            $("#demo-form").submit(function(){
//                this.submit();
//            });
//        } else {
//            btn.prop('disabled', false);
////            $("#bodynya").removeClass('loading');
//        }
//    }
    
    $('#t_periodepajak').datepicker({
        format: 'yyyy',
        minViewMode: 'years',
        autoclose: true,
    });
</script>
<?php if ($this->flashMessenger()->hasMessages()) { ?>
    <script>
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    </script>
    <?php
    echo '<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-sm" style="border:2px solid blue;">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>';
                                $messages = $this->flashMessenger()->getMessages();
                                foreach ($messages as $message) {
                                    echo $message;
                                }
                                echo '</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                ';
}
?>