
<?php
$judul = '<span style="font-size: 24px;"><b>PENDATAAN ' . strtoupper($jenisobjek['s_namajenis']) . '</b></span>';
$link = '<a href="#" class="btn btn-success btn-sm btn-flat" onclick="openCetakPelaporan()"><span class="glyphicon glyphicon-print"></span> &nbsp;Cetak Pelaporan</a>';

echo $this->MenuHelper()->headeratas($judul, $link);
?>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-2">
            <select class="form-control input-sm" id="combocari" onchange="calldatagrid()">
                <option value="">Pilih Pencarian</option>
                <option value="t_nourut">No. SPTPD</option>
                <option value="t_nama">Nama WP</option>
                <option value="t_npwpd">NPWPD</option>
                <option value="t_namaobjek">Nama Objek</option>
                <option value="t_nop">NOP</option>
                <option value="t_tglpendataan">Tanggal Pendataan</option>
            </select>
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-sm">
                <input type="text" placeholder="Cari" class="form-control pull-right" name="kolomcari" id="kolomcari" onkeyup="calldatagrid()">
                <div class="input-group-btn combooperatorc">
                    <select data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="combooperator" onchange="calldatagrid()" style="text-align: left;">
                        <option value="">Pilih</option>
                        <option value="carisama">=</option>
                        <option value="carilike">%</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <span class="hiddene">
                <select class="form-control input-sm" id="combosorting" onchange="calldatagrid()">
                    <!--<option value="">Pilih Urutan</option>-->
                    <option value="t_nourut">No. SPTPD</option>
                    <option value="t_nama">Nama WP</option>
                    <option value="t_npwpd">NPWPD</option>
                    <option value="t_namaobjek">Nama Objek</option>
                    <option value="t_nop">NOP</option>
                    <option value="t_tglpendataan">Tanggal Pendataan</option>
                </select>
            </span>
        </div>
        <div class="col-sm-2">
            <span class="hiddene">
                <div class="form-inline">
                    <div class="radio">
                        <label>
                            <input type="radio" value="ASC" id="sortasc" name="sortere" onclick="calldatagrid()">
                            Terkecil
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" checked="" value="DESC" id="sortdesc" name="sortere" onclick="calldatagrid()">
                            Terbesar
                        </label>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="example-box-wrapper">
        <div class="remove-columns">
            <div style='overflow: auto'>
                <table class="table table-bordered table-striped table-condensed cf" style="font-size: 9pt; color: black;width:100%">
                    <thead class="cf" style="background: blue">
                        <tr class="bg-blue">
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:5%;vertical-align:middle;">
                                No.
                            </th>         
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:7%;vertical-align:middle;">
                                No. SPTPD
                            </th>            
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                NPWPD
                            </th> 
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Nama
                            </th>         
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                NOP
                            </th>       
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Nama Objek
                            </th>         
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Masa Pajak
                            </th>       
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Tgl. Pendataan
                            </th>       
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Jumlah Pajak (Rp.)
                            </th>       
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:13%;vertical-align:middle;">
                                Pembayaran
                            </th>       
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:7%;vertical-align:middle;">
                                Inputan Dari
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:5%;vertical-align:middle;">
                                Perintah
                            </th>  
                        </tr>
                    </thead>
                    <tbody id="body_grid">
                    </tbody>
                    <tfoot>              
                        <tr>
                            <td colspan="12" class="text-center">
                                <div class="row">
                                    <div class="col-sm-3 text-left">
                                        <span class="hiddene">
                                            <select id="rows" class="form-control" style="width: 30%" onchange="calldatagrid(1)">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="40">40</option>
                                                <option value="50">50</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-sm-6" style="text-align: center">
                                        <center>
                                            <div id="paginatore"></div>
                                            <input type="hidden" id="s_idjenis" value="<?= $s_idjenis ?>">
                                            <input type="hidden" id="page" value="1">
                                        </center>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <span class="hiddene">
                                            <p>
                                                <b style="font-size: 13px; color: orangered"><span id="awaldata"></span> s/d <span id="akhirdata"></span> Dari <span id="total_data"></span> Data</b>
                                            </p>  
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalPelaporan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">

            <div class="modal-header bg-blue-gradient">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #fff;">&times;</span></button>
                <center><h4 class="modal-title" id="myModalLabel" ><i class="fa fa-fw fa-print"></i> <b>CETAK PELAPORAN <?=strtoupper($jenisobjek['s_namajenis'])?></b> </h4></center>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <input type="hidden" id="t_idjenispajak" value="<?= $s_idjenis ?>">
                        <label for="inputKey" class="col-md-3"><b>Periode Pajak<span style="float:right;">:</span></b></label>
                        <div class="col-md-2">
                            <input type="text" id="periode_pajak" value="<?= date('Y') ?>" class="form-control" style="width: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Masa Pajak<span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <select id="bulan_pajak" class="form-control">
                                <option value="">Pilih Semua Bulan</option>
                                <option value="01">01 || Januari</option>
                                <option value="02">02 || Februari</option>
                                <option value="03">03 || Maret</option>
                                <option value="04">04 || April</option>
                                <option value="05">05 || Mei</option>
                                <option value="06">06 || Juni</option>
                                <option value="07">07 || Juli</option>
                                <option value="08">08 || Agustus</option>
                                <option value="09">09 || September</option>
                                <option value="10">10 || Oktober</option>
                                <option value="11">11 || November</option>
                                <option value="12">12 || Desember</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Status Pembayaran<span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <select id="status_bayar" class="form-control">
                                <option value="">Pilih Semua</option>
                                <option value="1">Lunas</option>
                                <option value="2">Belum Bayar</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Pelaporan Dari<span style="float:right;">:</span></b></label>
                        <div class="col-md-5">
                            <select id="pelaporan_dari" class="form-control">
                                <option value="">Pilih Semua</option>
                                <option value="1">e-SPTPD</option>
                                <option value="2">SIMPATDA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-group col-md-12">
                        <label for="inputType" class="col-md-3"><b>Tanggal Cetak <span style="float:right;">:</span></b></label>
                        <div class="col-md-6">
                            <input type="text" id="tgl_cetakan" value="<?= date('d-m-Y') ?>" class="form-control" style="width: 100px;" readonly="true">

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div style="float:left;">
                        <button class="btn btn-info" onclick="cetaklaporanpajakpdf();"><i class="fa fa-fw fa-file-pdf-o"></i> Cetak PDF</button>
                    </div>
                    <div style="float:right;">
                        <span style="float:right; "><button class="btn btn-danger" onclick="tutupPelaporan()"><i class="fa fa-fw fa-close"></i> Tutup</button></span>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

<?= $this->MenuHelper()->headeratas_end(); ?>                         

<script type="text/javascript">
    $(function () {
        calldatagrid();
    });

    function calldatagrid(direction) {
        if ($("#combocari").val().length == 0)
            par1 = undefined;
        else
            par1 = $("#combocari").val()
        if ($("#kolomcari").val().length == 0)
            par2 = undefined;
        else
            par2 = $("#kolomcari").val()
        if ($("#combosorting").val().length == 0)
            par3 = undefined;
        else
            par3 = $("#combosorting").val()
        if (document.getElementById("sortasc").checked)
            par4 = $("#sortasc").val()
        else
            par4 = undefined;
        if (document.getElementById("sortdesc").checked)
            par5 = $("#sortdesc").val()
        else
            par5 = undefined;
        if ($("#combooperator").val().length == 0)
            par6 = undefined;
        else
            par6 = $("#combooperator").val()
        datagrid($("#s_idjenis").val(), $("#page").val(), $("#rows").val(), direction, par1, par2, par3, par4, par5, par6);
    }

    function datagrid(s_idjenis, page, row, direction, par1, par2, par3, par4, par5, par6) {
        $.get('<?= $this->url() ?>/dataGrid/' + s_idjenis + '/' + page + '/' + row + '/' + direction + '/' + par1 + '/' + par2 + '/' + par3 + '/' + par4 + '/' + par5 + '/' + par6, function (data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
            $("#paginatore").html(aa.paginatore);
            $("#awaldata").html(aa.awaldata);
            $("#akhirdata").html(aa.akhirdata);
        });
    }

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
        }
        setTimeout(function () {
            calldatagrid();
        }, 1000);
    }

    function openCetakPelaporan() {
        jQuery('#myModalPelaporan').modal('show');
    }

    function tutupPelaporan() {
        jQuery('#myModalPelaporan').modal('hide');
        jQuery("#status_bayar,#pelaporan_dari,#bulan_pajak").val('');
    }

    function cetaklaporanpajakpdf() {
        window.open('<?= $this->url() ?>/cetaklaporanpajak?tgl_cetakan=' + $("#tgl_cetakan").val() + "&t_idjenispajak=" + $("#t_idjenispajak").val() + "&periode_pajak=" + $("#periode_pajak").val() + "&bulan_pajak=" + $("#bulan_pajak").val() + "&status_bayar=" + $("#status_bayar").val() + "&pelaporan_dari=" + $("#pelaporan_dari").val() + "&cetak=1")
    }

</script>
<style type="text/css">
    .combooperatorc select {
        border: 0 !important;  /*Removes border*/
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        appearance:none;
        /*background: #E08E0B url(img/select-arrow.png) no-repeat 90% center;*/
        background: #E08E0B no-repeat 90% center;
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        color: #FFF;
    }	
</style>

