<html>

<head>
    <style type="text/css">
        body {
            font-family: sans-serif;
        }

        .border_atas {
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        .border_kiri {
            border-left: 1px solid black;
            border-collapse: collapse;
        }

        .border_kanan {
            border-right: 1px solid black;
            border-collapse: collapse;
        }

        .border_bawah {
            border-bottom: 1px solid black;
            border-collapse: collapse;
        }

        .font_besar {
            font-size: 12pt;
        }

        .font_kecil {
            font-size: 10pt;
        }

        .font_lima {
            font-size: 7pt;
        }

        .font_tujuh {
            font-size: 7pt;
        }

        .font_sepuluh {
            font-size: 10pt;
        }

        .font_sembilan {
            font-size: 9pt;
        }
    </style>
</head>

<body>
    <?php
    ini_set("max_execution_time", 500);
    if (!function_exists('kekata')) {

        function kekata($x)
        {
            $x = abs($x);
            $angka = array(
                "",
                "Satu",
                "Dua",
                "Tiga",
                "Empat",
                "Lima",
                "Enam",
                "Tujuh",
                "Delapan",
                "Sembilan",
                "Sepuluh",
                "Sebelas"
            );
            $temp = "";
            if ($x < 12) {
                $temp = " " . $angka[$x];
            } else if ($x < 20) {
                $temp = kekata($x - 10) . " Belas";
            } else if ($x < 100) {
                $temp = kekata($x / 10) . " Puluh" . kekata($x % 10);
            } else if ($x < 200) {
                $temp = " Seratus" . kekata($x - 100);
            } else if ($x < 1000) {
                $temp = kekata($x / 100) . " Ratus" . kekata($x % 100);
            } else if ($x < 2000) {
                $temp = " Seribu" . kekata($x - 1000);
            } else if ($x < 1000000) {
                $temp = kekata($x / 1000) . " Ribu" . kekata($x % 1000);
            } else if ($x < 1000000000) {
                $temp = kekata($x / 1000000) . " Juta" . kekata($x % 1000000);
            } else if ($x < 1000000000000) {
                $temp = kekata($x / 1000000000) . " Milyar" . kekata(fmod($x, 1000000000));
            } else if ($x < 1000000000000000) {
                $temp = kekata($x / 1000000000000) . " Trilyun" . kekata(fmod($x, 1000000000000));
            }
            return $temp;
        }
    }

    function terbilang($x, $style = 4)
    {
        if ($x < 0) {
            $hasil = "MINUS " . trim(kekata($x));
        } else {
            $hasil = trim(kekata($x));
        }
        switch ($style) {
            case 1:
                $hasil = strtoupper($hasil);
                break;
            case 2:
                $hasil = strtolower($hasil);
                break;
            case 3:
                $hasil = ucwords($hasil);
                break;
            default:
                $hasil = ucfirst($hasil);
                break;
        }
        return $hasil . " Rupiah";
    }
    ?>
    <table class="border_atas border_bawah border_kanan border_kiri font_sembilan" style="width: 100%">
        <tr>
            <td>
                <?php $gambar = $_SERVER['DOCUMENT_ROOT'] . "" . $this->basePath() . "/public/upload/logo.png"
                ?>
                <img src="<?= $gambar ?>" style="width:50px; padding: 10px" />
            </td>
            <td style="text-align:center;">
                <span style="font-size:12pt;">PEMERINTAH <?= strtoupper($ar_pemda->s_namakabkota) ?></span>
                <br>
                <b style="font-size:15pt;"><?= strtoupper($ar_pemda->s_namainstansi) ?></b>
                <br>
                <?= $ar_pemda->s_alamatinstansi ?> Telp/Fax <?= $ar_pemda->s_notelinstansi ?>, <?= $ar_pemda->s_namaibukotakabkota ?>
            </td>
            <td style="text-align: center" class="border_kiri font_sepuluh">
                <b>Kode Bayar</b><br>
                <style type="text/css">
                    .barcode {
                        padding: 1.5mm;
                        margin: 0;
                        vertical-align: top;
                        color: #000044;
                    }

                    .barcodecell {
                        vertical-align: middle;
                    }
                </style>
                <div class="barcodecell">
                    <barcode code="<?= $data['t_periodepajak'] . "" . $data['t_nourut'] ?>" type="I25" class="barcode" />
                </div>
                <?= $data['t_kodebayar']; ?>
            </td>
        </tr>
    </table>
    <table class="border_bawah border_kanan border_kiri font_sepuluh" style="width: 100%;">
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px; width: 25%; padding-top: 10px;">
                NPWPD
            </td>
            <td style="padding:3px;border-spacing:0px; padding-top: 10px;">
                : <?= $data['t_npwpd'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px;">
                Nama
            </td>
            <td style="padding:3px;border-spacing:0px;">
                : <?= $data['t_nama'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px;">
                Alamat
            </td>
            <td style="padding:3px;border-spacing:0px;">
                : <?= $data['t_alamat'] //$data['t_alamat'] . ", Kel./Desa " . $data['s_namakel'] . ", Kec. " . $data['s_namakec'] . ", Kab. " . $data['t_kabupaten'] 
                    ?>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px;">
                NOP
            </td>
            <td class="border_kanan" style="padding:0;border-spacing:0px;">
                : <?= $data['t_nop'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px;">
                Nama Objek
            </td>
            <td class="border_kanan" style="padding:0; border-spacing:0px;">
                : <?= $data['t_namaobjek'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px;">
                Alamat Objek
            </td>
            <td class="border_kanan" style="padding:3px; border-spacing:0px;">
                : <?= $data['t_alamatobjek'] . ", Kel./Desa " . $data['s_namakelobjek'] . ", Kec. " . $data['s_namakecobjek'] . ", Kab. " . $data['t_kabupatenobjek'] ?>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px;">
                Masa Pajak
            </td>
            <td class="border_kanan" style="padding:3px; border-spacing:0px;">
                : <?= date('d-m-Y', strtotime($data['t_masaawal'])) ?> s/d <?= date('d-m-Y', strtotime($data['t_masaakhir'])) ?>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px;">
                <b>Jumlah Pembayaran</b>
            </td>
            <td class="border_kanan" style="padding:3px; border-spacing:0px;">
                : <b>Rp. <?= number_format($data['t_jmlhpajak'], 0, ',', '.') ?>,-</b>
            </td>
        </tr>
        <tr>
            <td style="padding:3px; border-spacing:0px; padding-left: 13px; padding-bottom: 10px;">
                Terbilang
            </td>
            <td class="border_kanan" style="padding:3px; border-spacing:0px; padding-bottom: 10px;">
                : <?= terbilang($data['t_jmlhpajak']); ?>
            </td>
        </tr>
    </table>
</body>

</html>