<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pageminerba');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<?php
$judul = '<span style="font-size: 24px;"><b>LAPORAN ' . strtoupper($datapendaftaran['s_namajenis']) . '</b></span>';
$link = '';

echo $this->MenuHelper()->headeratas($judul, $link);
?>
<!--<center>
    <span style="font-family: sans-serif; text-align:right; background:black; border-radius: 25px; color: orange; padding: 5px 5px; font-size: 16px; font-weight:bolder">NPWPD : / ID OP : </span>
</center>-->
<?= $this->form()->openTag($form) ?>
<div class="row">
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA WP (Wajib Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NPWPD</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_npwpd'] ?> 
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nama'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA OP (Objek Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NOP</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nop'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_namaobjek'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamatlengkapobjek'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">HISTORY TRANSAKSI PAJAK</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="datatransaksi"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">FORM DATA LAPORAN</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <center><b class="blink" style="font-size: 12pt; color: red"><?= $message ?></b></center>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Tahun Pajak</label>
                        <div class="col-sm-1">
                            <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                            <?= $this->formHidden($form->get("t_idkorek")) ?>
                            <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                            <?= $this->formHidden($form->get("t_idobjek")) ?>
                            <?= $this->formHidden($form->get("t_jenispajak")) ?>
                            <?= $this->formText($form->get("t_periodepajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Masa Pajak</label>
                        <div class="col-sm-4">
                            <?= $this->formSelect($form->get("t_masapajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="rinciantanggal"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <span class="btn btn-sm btn-danger" id="tambahDetail">Tambah</span>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                               <tr>
                                                 <th style='background-color: #00BCA4; color: white; text-align:center'>Jenis</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Rekening</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Volume</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Harga Pasaran</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Tarif</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Pajak</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th>
                                            </tr>
                                            <?php
                                            $kk = 1;
                                            foreach (@$datadetail as $row) {
                                               
                                                ?>
                                                <tr id="detailnode<?= $kk ?>">
                                                    <td>
                                                        <select name="s_idjenisminerba[]" id="s_idjenisminerba<?= $kk ?>" class="form-control" onchange="carijenisminerba(<?= $kk ?>)">
                                                            <option value="">Silahkan Pilih</option>
                                                            <option <?php if ($row['t_tarifpersen']==15||$row['t_tarifpersen']=='15'){
                                                                echo("selected"); } ?> value="1"> Mineral Bukan Logam</option>
                                                            <option <?php if ($row['t_tarifpersen']==5||$row['t_tarifpersen']=='5'){
                                                                echo("selected"); } ?> value="2"> Batuan</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" id="t_idminerba <?= $kk ?>" name="t_idminerba[]" value="<?= $row['t_idminerba'] ?>">
                                                        <select name="t_idkorek[]" id="t_idkorek<?= $kk ?>" class="form-control" onchange="caritarifminerba(<?= $kk ?>)">
                                                            <option value="">Silahkan Pilih</option>
                                                            <?php
                                                            foreach ($rekeningmineral as $row1) {
                                                                if ($row1['s_idkorek'] == $row['t_idkorek']) {
                                                                    $selected = 'selected';
                                                                } else {
                                                                    $selected = '';
                                                                }
                                                                ?>
                                                                <option <?= $selected ?> value="<?= $row1['s_idkorek'] ?>"><?= $row1['korek'] . ' | ' . $row1['s_namakorek'] ?></option>
                                                            <?php } ?>
                                                        </select>
                                                    </td>
                                                    <td><input class="form-control" value="<?= number_format($row['t_volume'], 0, ',', '.') ?>" onchange="hitungpajakminerba(<?= $kk ?>)" name="t_volume[]" id="t_volume<?= $kk ?>" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= $row['t_hargapasaran'] ?>" name="t_hargapasaran[]" id="t_hargapasaran<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= $row['t_jumlah']; ?>" name="t_jumlah[]" id="t_jumlah<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= $row['t_tarifpersen'] ?>" name="t_tarifpersen[]" id="t_tarifpersen<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><input class="form-control" value="<?= number_format($row['t_pajak'], 0, ',', '.') ?>" name="t_pajak[]" id="t_pajak<?= $kk ?>" readonly="true" style="text-align:right"></td>
                                                    <td><span class="btn btn-xs btn-danger" onclick="removetr(<?= $kk ?>)"><span class="glyph-icon icon-trash"></span></span></td>
                                                </tr>
                                                <?php
                                                $kk++;
                                            }
                                            ?>
                                            <input type="hidden" id="idl" value="<?= $kk++ ?>">
                                            <tbody id="add_Detail"></tbody>
                                        </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Dasar Pengenaan/Omzet (Rp.)</label>
                        <div class="col-sm-2">
                            <?= $this->formText($form->get("t_dasarpengenaan")->setAttribute("readonly", true)) ?>
                        </div>
                        <label class="col-sm-1 control-label">Tarif(%)</label>
                        <div class="col-sm-1">
                            <?= $this->formText($form->get("t_tarifpajak")) ?>
                        </div>
                        <div class="col-sm-1">
                           <button type="button" class="btn btn-primary btn-sm" onclick="hitungtotalpajakminerba()">Hitung</button> 
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Total Pajak (Rp.)</label>
                        <div class="col-sm-4">
                            <?= $this->formText($form->get("t_jmlhpajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="bg-default" id="tombolsimpan">
                            <?= $this->formInput($form->get('Laporansubmit')) ?> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?= $this->form()->closeTag($form) ?>
<!--</div>-->
<!--</div>-->

<?= $this->MenuHelper()->headeratas_end(); ?> 

<script type="text/javascript">
	

    function caritarifminerba(a) {

        $.post('<?= $this->url() ?>/caritarifminerba', {t_idkorek: $('#t_idkorek' + a).val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_hargapasaran' + a).val(aa.s_tarifdasarkorek);
            $('#t_tarifpersen' + a).val(aa.t_tarifpersen);

            
        });
    }
     function carijenisminerba(a) {
            var aa = $('#s_idjenisminerba' + a).val();
            // console.log(aa);
        $.post('<?= $this->url() ?>/carijenisminerba', {s_idjenisminerba: $('#s_idjenisminerba' + a).val()}, function (data) {

            var aa = JSON.parse(data);
        
            $('#t_idkorek' + a).html(aa.opsi);
            hitungtotalpajakminerba();
        });
    }

    function hitungpajakminerba(a) {
        $.post('<?= $this->url() ?>/hitungpajakminerba', {t_volume: $('#t_volume' + a).val(), t_hargapasaran: $('#t_hargapasaran' + a).val(), t_tarifpersen: $('#t_tarifpersen' + a).val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_jumlah' + a).val(aa.t_jumlah);
            $('#t_pajak' + a).val(aa.t_pajak);
        });
        hitungtotalpajakminerba();
    }

    function hitungtotalpajakminerba() {
        $.post('<?= $this->url() ?>/hitungtotalpajakminerba', {t_tarifkenaikan: $('#t_tarifkenaikan').val(), t_pajak1: $('#t_pajak1').val(), t_pajak2: $('#t_pajak2').val(), t_pajak3: $('#t_pajak3').val(), t_pajak4: $('#t_pajak4').val(), t_pajak5: $('#t_pajak5').val(), t_pajak6: $('#t_pajak6').val(), t_pajak7: $('#t_pajak7').val(), t_pajak8: $('#t_pajak8').val(), t_pajak9: $('#t_pajak9').val(), t_pajak10: $('#t_pajak10').val()
            , t_jumlah1: $('#t_jumlah1').val(), t_jumlah2: $('#t_jumlah2').val(), t_jumlah3: $('#t_jumlah3').val(), t_jumlah4: $('#t_jumlah4').val(), t_jumlah5: $('#t_jumlah5').val(), t_jumlah6: $('#t_jumlah6').val(), t_jumlah7: $('#t_jumlah7').val(), t_jumlah8: $('#t_jumlah8').val(), t_jumlah9: $('#t_jumlah9').val(), t_jumlah10: $('#t_jumlah10').val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_dasarpengenaan').val(aa.t_dasarpengenaan);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
        });
    }

    $(document).ready(function () {
        $("#tambahDetail").click(function () {
            var idl = document.getElementById("idl").value;
            $("#add_Detail").append(
                    '<tr id="detailnode' + idl + '">' +
                    '<td>' +
                    '<input type="hidden" id="t_idminerba' + idl + '" name="t_idminerba[]">' +

                    '<select name="s_idjenisminerba[]" id="s_idjenisminerba' + idl + '" class="form-control" onchange="carijenisminerba(' + idl + ')">' +
                        '<option value="">Silahkan Pilih</option>' +
                        '<option value="1"> Mineral Bukan Logam</option>'+
                        '<option value="2"> Batuan</option>'+
                        
                    '</select>' +
                    '</td>'+
                    '<td>' +
                    '<input type="hidden" id="t_idminerba' + idl + '" name="t_idminerba[]">' +
                    '<select name="t_idkorek[]" id="t_idkorek' + idl + '" class="form-control" onchange="caritarifminerba(' + idl + ')">' +
                    '<option value="">Silahkan Pilih</option>' +
                    <?php foreach ($rekeningmineral as $row) { ?>
                        '<option value="<?= $row['s_idkorek'] ?>"><?= $row['korek'] . ' | ' . $row['s_namakorek'] ?></option>' +
                    <?php } ?>
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakminerba(' + idl + ')" onblur="this.value = formatCurrency(this.value); hitungpajakminerba(' + idl + ')" onkeyup="this.value = formatCurrency(this.value);hitungpajakminerba(' + idl + ')" name="t_volume[]" id="t_volume' + idl + '">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value); hitungpajakminerba(' + idl + ')" onblur="this.value = formatCurrency(this.value); hitungpajakminerba(' + idl + ')" onkeyup="this.value = formatCurrency(this.value);hitungpajakminerba(' + idl + ')" name="t_hargapasaran[]" id="t_hargapasaran' + idl + '" readonly>' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_jumlah[]" id="t_jumlah' + idl + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_tarifpersen[]" id="t_tarifpersen' + idl + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<input class="form-control" style="text-align:right" onKeyPress="return numbersonly(this, event);" onchange="this.value = formatCurrency(this.value);" onblur="this.value = formatCurrency(this.value);" onkeyup="this.value = formatCurrency(this.value);" name="t_pajak[]" id="t_pajak' + idl + '" readonly="true">' +
                    '</td>' +
                    '<td>' +
                    '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span></span>' +
                    '</td>' +
                    '</tr>'
                    );
            idl = (idl - 1) + 2;
            document.getElementById("idl").value = idl;
        });
    });

    function removetr(a) {
        $("#detailnode" + a).remove();
        hitungpajakminerba();
    }

    $(function () {
        CariLaporanByObjek();
    });

    function CariLaporanByObjek() {
        $.post('<?= $this->url() ?>/CariLaporanByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }

    function hitungpajak() {
        $.post('<?= $this->url() ?>/hitungpajak', {t_dasarpengenaan: $("#t_dasarpengenaan").val(), t_tarifpajak: $("#t_tarifpajak").val(), t_tarifkenaikan: $("#t_tarifkenaikan").val(), t_jmlhkenaikan: $("#t_jmlhkenaikan").val(), t_jenispajak: $("#t_jenispajak").val(), t_idkorek: $("#t_idkorek").val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
            $('#t_tarifpajak').val(aa.t_tarifpajak);
        });
    }
    
//    function simpan() {
//        var ask = confirm('Apakah anda yakin data yang anda masukkan sudah benar?');
//        var btn = $('#Laporansubmit');
//        btn.prop('disabled',true);
//        if (ask) {
////            $("#bodynya").addClass('loading');
//            $("#demo-form").submit(function(){
//                this.submit();
//            });
//        } else {
//            btn.prop('disabled', false);
////            $("#bodynya").removeClass('loading');
//        }
//    }
    
    $('#t_periodepajak').datepicker({
        format: 'yyyy',
        minViewMode: 'years',
        autoclose: true,
    });
</script>
<?php if ($this->flashMessenger()->hasMessages()) { ?>
    <script>
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    </script>
    <?php
    echo '<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-sm" style="border:2px solid blue;">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>';
                                $messages = $this->flashMessenger()->getMessages();
                                foreach ($messages as $message) {
                                    echo $message;
                                }
                                echo '</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                ';
}
?>