<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pageppj');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<?php
$judul = '<span style="font-size: 24px;"><b>LAPORAN ' . strtoupper($datapendaftaran['s_namajenis']) . '</b></span>';
$link = '';

echo $this->MenuHelper()->headeratas($judul, $link);
?>
<!--<center>
    <span style="font-family: sans-serif; text-align:right; background:black; border-radius: 25px; color: orange; padding: 5px 5px; font-size: 16px; font-weight:bolder">NPWPD : / ID OP : </span>
</center>-->
<?= $this->form()->openTag($form) ?>
<div class="row">
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA WP (Wajib Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NPWPD</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_npwpd'] ?> 
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nama'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA OP (Objek Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NOP</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nop'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_namaobjek'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamatlengkapobjek'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">HISTORY TRANSAKSI PAJAK</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="datatransaksi"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">FORM DATA LAPORAN</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <center><b class="blink" style="font-size: 12pt; color: red"><?= $message ?></b></center>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Tahun Pajak</label>
                        <div class="col-sm-1">
                            <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                             <input type="hidden" name="t_nilaiperolehan1" value="0">
                            
                            <?= $this->formHidden($form->get("t_idkorek")) ?>
                            <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                            <?= $this->formHidden($form->get("t_idobjek")) ?>
                            <?= $this->formHidden($form->get("t_jenispajak")) ?>
                            <?= $this->formText($form->get("t_periodepajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Masa Pajak</label>
                        <div class="col-sm-4">
                            <?= $this->formSelect($form->get("t_masapajak")) ?>
                        </div>
                    </div>
                     <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Asal listrik</label>
                            <div class="col-sm-4">
                                <?= $this->formSelect($form->get("t_asallistrik")) ?>
                            </div>
                        </div>
                            
                        <div id="nonpln">
                            <div class="col-sm-12">
                                <div class="box box-danger">
                                    <div class="box-header with-border">
                                        <span class="btn btn-sm btn-danger" id="tambahDetail">Tambah</span>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered table-striped table-condensed cf" style='font-size:11px; color: black'>
                                            <tr>
                                              
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Kategori</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Kapasitas<br>(KVA)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jam<br>(Opersi)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Hari<br>(Operasi)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center;width: 10%;'>KWH</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Umur<br>(Pembangkit)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Harga Satuan (Rp)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Biaya Beban (Rp)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Jumlah<br>(Unit/mesin)</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center;width: 12%;'>NJTL</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center;width: 15%;'>Index Hitung</th>
                                                <th style='background-color: #00BCA4; color: white; text-align:center'>Hapus</th>
                                            </tr>
                                            <input type="hidden" id="idl" value="1">
                                            <tbody id="add_Detail"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                                         
                        <div class="col-sm-12">
                            <div id="plndata">
                            <label class="col-sm-3 control-label">Dasar Pengenaan (NJTL)</label>
                            <div class="col-sm-2">
                                <?= $this->formtext($form->get("t_dasarpengenaan")) ?>
                            </div>
                            </div>
                            <label class="col-sm-1 control-label">Tarif (%)</label>
                            <div class="col-sm-1">
                                <?= $this->formText($form->get("t_tarifpajak")) ?>
                            </div>
                        </div>
                    
                    <div class="col-sm-12">
                        <label class="col-sm-9 control-label">Total Pajak (Rp.)</label>
                        <div class="col-sm-3">
                            <?= $this->formText($form->get("t_jmlhpajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="bg-default" id="tombolsimpan">
                            <?= $this->formInput($form->get('Laporansubmit')) ?> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?= $this->form()->closeTag($form) ?>
<!--</div>-->
<!--</div>-->

<?= $this->MenuHelper()->headeratas_end(); ?> 

<script type="text/javascript">
    
    $(function () {
        CariLaporanByObjek();
    });

    function CariLaporanByObjek() {
        $.post('<?= $this->url() ?>/CariLaporanByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }

    function hitungpajak() {
       
          hitungtotalpajak();
    }
    
    
	$('#t_masapajak').change(function () {
        $.post('<?= $this->url() ?>/sesuaikanmasapajak', {t_masapajak: $('#t_masapajak').val(), t_periodepajak: $('#t_periodepajak').val(), t_idobjek: $('#t_idobjek').val()}, function (data) {
            var aa = JSON.parse(data);
            $("#t_masapajak").val(aa.t_masapajak);
            $("#text_content").html(aa.text_content);
            if (aa.status == false) {
                $('#myModalPeringatan').modal('show');
            }
        });
    });
	
//    
//    function hitungpajak() {
//        $.post('<?= $this->url() ?>/hitungpajak', {t_dasarpengenaan: $("#t_dasarpengenaan").val(), t_tarifpajak: $("#t_tarifpajak").val(), t_tarifkenaikan: $("#t_tarifkenaikan").val(), t_jmlhkenaikan: $("#t_jmlhkenaikan").val(), t_jenispajak: $("#t_jenispajak").val(), t_idkorek: $("#t_idkorek").val()}, function (data) {
//            var aa = JSON.parse(data);
//            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
//            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
//            $('#t_tarifpajak').val(aa.t_tarifpajak);
//        });
//    }
    
//    function simpan() {
//        var ask = confirm('Apakah anda yakin data yang anda masukkan sudah benar?');
//        var btn = $('#Laporansubmit');
//        btn.prop('disabled',true);
//        if (ask) {
////            $("#bodynya").addClass('loading');
//            $("#demo-form").submit(function(){
//                this.submit();
//            });
//        } else {
//            btn.prop('disabled', false);
////            $("#bodynya").removeClass('loading');
//        }
//    }
    
    $('#t_periodepajak').datepicker({
        format: 'yyyy',
        minViewMode: 'years',
        autoclose: true,
    });
</script>
<?php if ($this->flashMessenger()->hasMessages()) { ?>
    <script>
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    </script>
    <?php
    echo '<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-sm" style="border:2px solid blue;">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>';
                                $messages = $this->flashMessenger()->getMessages();
                                foreach ($messages as $message) {
                                    echo $message;
                                }
                                echo '</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                ';
}
?>
<div id='myModalPeringatan' class='modal fade' role='dialog'>
    <div class='modal-dialog modal-xs' style='width: 300px'>
        <div class='modal-content'>
            <div class='modal-header bg-red'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='myModalLabel'><span class='glyph-icon icon-warning'></span><b> Peringatan</b></h4>
            </div>
            <div class='modal-body' id="text_content">
                <!--<p style='font-weight: bold'>Pelaporan Pajak harus urut / tidak boleh meloncat bulan pajaknya.</p>-->
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger btn-sm' data-dismiss='modal'><span class='glyph-icon icon-close'></span> Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     $(function () {
        opentabel();
        hitungtotalpajak();
            
    });
         function opentabel(){
          let x = document.getElementById("nonpln");
          let y = document.getElementById("plndata");
          
        if ($("#t_asallistrik").val()=='2') {
             x.style.display = "block";
             y.style.display = "none";
        }else{
             x.style.display = "none";
             y.style.display = "block";
        }
    }
    $(document).ready(function () {
        $("#tambahDetail").click(function () {
            var idl = document.getElementById("idl").value;
            $("#add_Detail").append(
                    '<tr id="detailnode' + idl + '">' +
                    '<td>' +
                    '<input type="hidden" id="t_iddetailppj' + idl + '" name="t_iddetailppj[]">' +
                    '<select name="t_kategori[]" id="t_kategori' + idl + '" class="form-control" onchange="hitungkwh(' + idl + ');readonlyform(' + idl + ');">' +
                        '<option value="">Silahkan Pilih</option>' +
                        '<option value="1"> 01 || KWH Meter</option>'+
                        '<option value="2"> 02 || Non KWH Meter</option>'+
                        '<option value="3"> 03 || Cadangan</option>'+
                    '</select>' +
                    '</td>'+
                    '<td>'+
                    '<input name="t_kapasitas[]" id="t_kapasitas' + idl + '" class="form-control" onkeyup="hitungkwh(' + idl + ')">' +
                    '</td>' +
                    '<td>'+
                    '<input name="t_jam[]" id="t_jam' + idl + '" class="form-control" onkeyup="hitungkwh(' + idl + ')">' +
                    '</td>' +
                    '<td>'+
                    '<input name="t_hari[]" id="t_hari' + idl + '" class="form-control" onkeyup="hitungkwh(' + idl + ')">' +
                    '</td>' +
                    '<td>'+
                    '<input name="t_kwh[]" id="t_kwh' + idl + '" class="form-control" onkeyup="carinjtl(' + idl + ')" readonly>' +
                    '</td>' +
                    '<td>' +
                        '<select name="t_umur[]" id="t_umur' + idl + '" class="form-control" onchange="carinjtl(' + idl + ')">' +
                        '<option value="">Silahkan Pilih</option>' +
                        '<option value="1"> 01 || <= 2 Tahun</option>'+
                        '<option value="2"> 02 || > 2-3 Tahun </option>'+
                        '<option value="3"> 03 || > 3-4 Tahun</option>'+
                        '<option value="4"> 04 || > 4-5 Tahun</option>'+
                        '<option value="5"> 05 || > 5 Tahun</option>'+
                    '</select>' +
                    '</td>' +
                    '<td>'+
                    '<input name="t_hargasatuan[]" id="t_hargasatuan' + idl + '" class="form-control" readonly>' +
                    '</td>' +
                    '<td>'+
                    '<input name="t_biayabeban[]" id="t_biayabeban' + idl + '" class="form-control" readonly>' +
                    '</td>' +
                    '<td>'+
                    '<input name="t_jumlah[]" id="t_jumlah' + idl + '" class="form-control" onkeyup="carinjtl(' + idl + ')">' +
                    '</td>' +
                    '<td>'+
                    '<input name="t_njtl[]" id="t_njtl' + idl + '" class="form-control" readonly>' +
                    '</td>' +
                    '<td>'+
                    '<textarea rows="2" name="t_detailhitung[]" id="t_detailhitung' + idl + '" class="form-control" readonly></textarea>' +
                     '<input name="t_pajak[]" id="t_pajak' + idl + '" class="form-control" readonly>' +
                    '</td>' +
                    '<td>' +
                    '<span class="btn btn-xs btn-danger" onclick="removetr(' + idl + ')"><span class="glyph-icon icon-trash"></span></span>' +
                    '</td>' +
                    '</tr>'
                    );
            idl = (idl - 1) + 2;
            document.getElementById("idl").value = idl;
        });
    });

    function removetr(a) {
        $("#detailnode" + a).remove();
    }
    function hitungkwh(a){
         $.post('<?= $this->url() ?>/hitungkwhppj', {
            t_kategori: $('#t_kategori' + a ).val(),
            t_kapasitas: $('#t_kapasitas' + a ).val(),
            t_jam: $('#t_jam' + a).val(),
            t_hari: $('#t_hari' +a ).val(),
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_kwh' + a).val(aa.t_kwh);
            $('#t_hargasatuan' + a).val(aa.t_hargasatuan);
            carinjtl(a);

        }); 
    }

    function readonlyform(a){
        if ($('#t_kategori' + a ).val()=='1'||$('#t_kategori' + a ).val()=='2'){
            $("#t_hari"+a).removeAttr('readonly');
            if ($('#t_kategori' + a ).val()=='1'){
                $("#t_kwh"+a).removeAttr('readonly');
            }
        }else{
          $("#t_hari"+a).attr('readonly', 'readonly');
          $("#t_kwh"+a).attr('readonly', 'readonly');  
        }
    }
    function carinjtl(a){
        $.post('<?= $this->url() ?>/hitungnjtlppj', {
            t_kategori: $('#t_kategori' + a ).val(),
            t_kapasitas: $('#t_kapasitas' + a ).val(),
            t_jam: $('#t_jam' + a).val(),
            t_hari: $('#t_hari' +a ).val(),
            t_kwh: $('#t_kwh' + a).val(),
            t_umur : $('#t_umur' + a).val(),
            t_hargasatuan : $('#t_hargasatuan' + a).val(),
            t_jumlah : $('#t_jumlah' + a).val(),
            t_tarifpajak :  $('#t_tarifpajak').val(),
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_biayabeban' + a).val(aa.t_biayabeban);
            $('#t_njtl' + a).val(aa.t_njtl);
            $('#t_detailhitung' + a).html(aa.t_detailhitung);
            $('#t_pajak' + a).val(aa.t_pajak);
            hitungtotalpajak();

        }); 
    }
    function hitungtotalpajak(){
        if ($("#t_asallistrik").val()=='1') {
             $.post('<?= $this->url() ?>/hitungpajakppjpln', {
                t_dasarpengenaan: $('#t_dasarpengenaan').val(),
                t_tarifpajak :  $('#t_tarifpajak').val(),
                 }, function (data) {
                    var aa = JSON.parse(data);
                     $('#t_jmlhpajak').val(aa.t_jmlhpajak);
                 });
        }else{
            var t_pajaks = $("input[name='t_pajak[]']")
                .map(function(){return $(this).val();}).get();
            $.post('<?= $this->url() ?>/hitungtotalpajakppjnew', {
                t_pajaks : t_pajaks,
                t_tarifpajak :  $('#t_tarifpajak').val(),
            }, function (data) {
                var aa = JSON.parse(data);
                $('#t_jmlhpajak').val(aa.t_jmlhpajak);
                $('#t_dasarpengenaan').val(aa.t_dasarpengenaan);

            });
        }
    }
</script>