<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pagedefault');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<?php
$judul = '<span style="font-size: 24px;"><b>LAPORAN ' . strtoupper($datapendaftaran['s_namajenis']) . '</b></span>';
$link = '';

echo $this->MenuHelper()->headeratas($judul, $link);
?>
<?= $this->form()->openTag($form) ?>
<div class="row">
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA WP (Wajib Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NPWPD</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_npwpd'] ?> 
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nama'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA OP (Objek Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NOP</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nop'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_namaobjek'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamatlengkapobjek'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">HISTORY TRANSAKSI PAJAK</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="datatransaksi"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">FORM DATA LAPORAN</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <center><b class="blink" style="font-size: 12pt; color: red"><?= $message ?></b></center>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Tahun Pajak</label>
                        <div class="col-sm-1">
                            <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                            <?= $this->formHidden($form->get("t_idkorek")) ?>
                            <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                            <?= $this->formHidden($form->get("t_idobjek")) ?>
                            <?= $this->formHidden($form->get("t_jenispajak")) ?>
                            <?= $this->formText($form->get("t_periodepajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Masa Pajak</label>
                        <div class="col-sm-4">
                            <?= $this->formSelect($form->get("t_masapajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="rinciantanggal"></div>
                    </div>
                    <?php
                      if($datapendaftaran['t_korekobjek'] == 84 || $datapendaftaran['t_korekobjek'] == 362){
						//var_dump($datapendaftaran);
						?>
						<div class="col-sm-12">
							<label class="col-sm-3 control-label">Nilai Perolehan</label>
							<div class="col-sm-4">
								<?= $this->formNumber($form->get("t_nilaiperolehan1")) ?>
								<?= $this->formHidden($form->get("t_dasarpengenaan")) ?>
								<?= $this->formHidden($form->get("t_tarifpajak")) ?>
								<?= $this->formHidden($form->get("t_jenissarang")) ?>
								<?= $this->formHidden($form->get("t_umurbangunan")) ?>
							</div>
						</div>
						<div class="col-sm-12">
							<label class="col-sm-3 control-label">Harga Dasar</label>
							<div class="col-sm-4">
								<?= $this->formText($form->get("t_hargadasar")) ?>
							</div>
						</div>
						<?php
                    }elseif($datapendaftaran['t_korekobjek'] == 33 || $datapendaftaran['t_korekobjek'] == 34){
                    ?>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Keterangan</label>
                        <div class="col-sm-4">
                            <?= $this->formTextarea($form->get("t_keterangankatering")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Pelaksana</label>
                        <div class="col-sm-4">
                            <?= $this->formTextarea($form->get("t_opdkatering")) ?>
                        </div>
                    </div>
                  
						<?php
                    }
						else
					{
							?>                   
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Dasar Pengenaan/Omzet (Rp.)</label>
                        <div class="col-sm-2">
                            <?= $this->formText($form->get("t_dasarpengenaan")) ?>
                        </div>
                        <label class="col-sm-1 control-label">Tarif(%)</label>
                        <div class="col-sm-1">
                            <?= $this->formText($form->get("t_tarifpajak")) ?>
                        </div>
                    </div>
					<?php 
					} 
					?>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Total Pajak (Rp.)</label>
                        <div class="col-sm-4">
                            <?= $this->formText($form->get("t_jmlhpajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="bg-default" id="tombolsimpan">
                            <?= $this->formInput($form->get('Laporansubmit')) ?> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?= $this->form()->closeTag($form) ?>
<?= $this->MenuHelper()->headeratas_end(); ?> 
<script type="text/javascript">
    function hitungpajak() {
        $.post('<?= $this->url() ?>/hitungpajak', {
					t_dasarpengenaan: $("#t_dasarpengenaan").val(), 
					t_tarifpajak: $("#t_tarifpajak").val(), 
					t_jenispajak: $("#t_jenispajak").val(), 
					t_idkorek: $("#t_idkorek").val()
				}, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
			$('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
            $('#t_tarifpajak').val(aa.t_tarifpajak);
        });
    }
	
	function ambilhargadasarwalet(){
		$.post('<?= $this->url() ?>/ambilhargadasar', {
				t_hargadasar: $("#t_hargadasar").val(), 
				t_tarifpajak: $("#t_tarifpajak").val(), 
				t_tarifkenaikan: $("#t_tarifkenaikan").val(), 
				t_jmlhkenaikan: $("#t_jmlhkenaikan").val(), 
				t_jenispajak: $("#t_jenispajak").val(), 
				t_idkorek: $("#t_idkorek").val(), 
				t_hargadasar: $("#t_hargadasar").val()
			}, function (data) {
                // console.log(data);
            var aa = JSON.parse(data);
            $('#t_hargadasar').val(aa.t_hargadasar);
        });
	}
	
	
	function hitungpajakwalet() {
        $.post('<?= $this->url() ?>/hitungpajakwalet', {
					t_nilaiperolehan1: $("#t_nilaiperolehan1").val(), 
					t_jenispajak: $("#t_jenispajak").val(), 
					t_idkorek: $("#t_idkorek").val(),
                    t_hargadasar: $("#t_hargadasar").val()
				}, function (data) {
                   // console.log(data);
            var aa = JSON.parse(data);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_tarifpajak').val(aa.t_tarifpajak);
            $('#t_dasarpengenaan').val(aa.t_dasarpengenaan);
			$('#t_jenissarang').val(aa.t_jenissarang);
            $('#t_umurbangunan').val(aa.t_umurbangunan);
        });
    }
    

    $(function () {
        CariLaporanByObjek();
    });

     function CariLaporanByObjek() {
        $.post('<?= $this->url() ?>/CariLaporanByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            //console.log(data);
			var aa = JSON.parse(data);
            if ($("#t_idkorek").val()==33||$("#t_idkorek").val()=='33'||$("#t_idkorek").val()==34||$("#t_idkorek").val()=='34'){
            }else{
            $("#datatransaksi").html(aa.datatransaksi);
                }
        });
    }
    $('#t_periodepajak').datepicker({
        format: 'yyyy',
        minViewMode: 'years',
        autoclose: true,
    });
</script>
