<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/formpageskpd');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<div id="page-content-wrapper" style="font-size:12px">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Laporan SKPD</span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <?= $this->form()->openTag($form) ?>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class='content-box border-top border-green' style='font-size:11px'>
                                <h3 class='content-box-header clearfix' style='font-size:12px; color:blue; font-weight: bold;'>
                                    Data SKPD
                                </h3>
                                <div class='content-box-wrapper'>
                                    <div class='row'>
                                        <div class="col-sm-12">
                                            <label class="col-sm-2">Nama</label>
                                            <div class="col-sm-10">
                                                : <?= $dataskpd['t_namaskpd']?>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="col-sm-2">Alamat</label>
                                            <div class="col-sm-10">
                                                : <?= $dataskpd['t_jalanskpd'] ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <div class="alert-content">
                                    <h4 class="alert-title"><b style="color: #000099">Data Laporan </b><b class="blink" style="font-size: 16pt; color: red"><?= $message ?></b></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Nama SKPD</label>
                            <div class="col-sm-4">
                                <?php $form->get('t_idskpd')->setValue($dataskpd['t_idskpd']);
                                      $form->get("t_namaskpd")->setValue($dataskpd['t_namaskpd']);
                                ?>
                                <?= $this->formHidden($form->get("t_idskpd")) ?>
                                <?= $this->formTextarea($form->get("t_namaskpd")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Nama Objek Pajak</label>
                            <div class="col-sm-4">
                                <?= $this->formHidden($form->get("t_idobjek")) ?>
                                <?= $this->formText($form->get("t_namaobjek")) ?>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-warning" id="cariobjek"><i class="glyph-icon icon-search"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Tahun Pajak</label>
                            <div class="col-sm-1">
                                <?= $this->formHidden($form->get("t_idkorek")) ?>
                                <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                                <?= $this->formHidden($form->get("t_jenispajak")) ?>
                                <?= $this->formText($form->get("t_periodepajak")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Masa Pajak</label>
                            <div class="col-sm-4">
                                <?= $this->formSelect($form->get("t_masapajak")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div id="rinciantanggal"></div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Uraian</label>
                            <div class="col-sm-4">
                                <?= $this->formTextarea($form->get("t_namakegiatan")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Dasar Pengenaan/Omzet (Rp.)</label>
                            <div class="col-sm-2">
                                <?= $this->formText($form->get("t_dasarpengenaan")) ?>
                            </div>
                            <label class="col-sm-1 control-label">Tarif (%)</label>
                            <div class="col-sm-1">
                                <?= $this->formText($form->get("t_tarifpajak")) ?>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Total Pajak (Rp.)</label>
                            <div class="col-sm-4">
                                <?= $this->formText($form->get("t_jmlhpajak")) ?>
                            </div>
                        </div>
                    </div>
                    <div class="bg-default" id="tombolsimpan">
                        <?= $this->formInput($form->get('Laporansubmit')) ?> 
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $("#t_namaskpd").attr("readonly", true);
    $("#t_namaobjek").attr("readonly", true);
    
    function CariLaporanByObjek() {
        $.post('<?= $this->url() ?>/CariLaporanByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }
    
    function hitungpajak() {
        $.post('<?= $this->url() ?>/hitungpajak', {t_dasarpengenaan: $("#t_dasarpengenaan").val(), t_tarifpajak: $("#t_tarifpajak").val(), t_tarifkenaikan: $("#t_tarifkenaikan").val(), t_jmlhkenaikan: $("#t_jmlhkenaikan").val(), t_jenispajak: $("#t_jenispajak").val(), t_idkorek: $("#t_idkorek").val()}, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
            $('#t_tarifpajak').val(aa.t_tarifpajak);
        });
    }
	 $('#t_periodepajak').datepicker({
        format: 'yyyy',
        minViewMode: 'years',
        autoclose: true,
    });
    
    $("#cariobjek").on("click", function(){
        $("#modalobjek").modal("show");
        dTable.ajax.reload();
        
    });
</script>
<div class="modal fade" id="modalobjek" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>Data SKPD</b></h4>
            </div>
            <div class='modal-body'>
                <table id="example"  cellpadding="0" cellspacing="0" border="0" class="display table" width="" style="color: black">
                    <thead>
                    <tr class="success" style="font-size:10pt; font: bold;">
                    <th width=""><center>No</center></th>
                    <th width=""><center>Nama WP</center></th>
                    <th width=""><center>Nama Objek</center></th>
                    <th width=""><center>Jenis Pajak</center></th>
                    <th width=""><center>Perintah</center></th>
                    </tr>
                    </thead>
                    <tbody style="">
                    </tbody>
                    <tfoot>
                    <tr>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    </tr></tfoot>
            </table>
            </div>
        </div>
    </div>
</div>
<script>
    function pilihop(a){
        $.post('<?= $this->url() ?>/pilihop', {idobjek: a}, function (data) {
            var aa = JSON.parse(data);
            $("#t_idobjek").val(aa.t_idobjek);
            $("#t_namaobjek").val(aa.t_namaobjek);
            $("#t_idkorek").val(aa.t_korekobjek);
            $("#t_jenispajak").val(aa.t_jenisobjek);
            $("#t_tarifpajak").val(aa.t_tarifpajak);
            $("#modalobjek").modal("hide");
            
        });
    }
    
    var dTable;
   
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            "sAjaxSource": "<?= $this->url() ?>/datagridobjekpajak", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aaSorting": [[0, "asc"]],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "scrollX": true,

            "oLanguage": {
                "sEmptyTable": "Tidak ada data", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>",
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",         
                "oPaginate": {"sFirst": "First", "sLast": "Last", "sNext": "Next", "sPrevious": "Previous"} //pagination
            },

            "columnDefs": [
                {"orderable": false, "targets": [0,4], "searchable": false},
                            ]
                        });

        $('th', dTable.table().footer()).each(function () {
            var title = $('th').eq($(this).index()).text();
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            }else {
                $(this).html('<input type="text" class="form-control" placeholder="' + title.trim().replace(/\s+/, " ").toLowerCase() + '" style="width:200px" />');
            }
        });

        // Apply the search
        dTable.columns().eq(0).each(function (colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        
         function fnResetAllFilters() {
            
            dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).val('', function () {
                dTable
                        .column(colIdx)
                        .search('', true)
                        .draw();
            });            
            });  
            
            dTable2.columns().eq(0).each(function (colIdx) {
            $('select', dTable2.column(colIdx).footer()).val('', function () {
                dTable2
                        .column(colIdx)
                        .search('', true)
                        .draw();
            });            
            });
        }
</script>