<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/form_pageppj');
$form->setAttribute("id", "demo-form");
$form->setAttribute("class", "form-horizontal pad15L pad15R pad15T");
$form->setAttribute("data-parsley-validate", "data-parsley-validate");
$form->setAttribute('enctype', 'multipart/form-data');
$form->prepare();
?>

<style type="text/css">
    blink, .blink {
        -webkit-animation: blink 1s step-end infinite;
        -moz-animation: blink 1s step-end infinite;
        -o-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
        67% { opacity: 0 }
    }

    @-moz-keyframes blink {
        67% { opacity: 0 }
    }

    @-o-keyframes blink {
        67% { opacity: 0 }
    }

    @keyframes blink {
        67% { opacity: 0 }
    }
</style>
<?php
$judul = '<span style="font-size: 24px;"><b>LAPORAN ' . strtoupper($datapendaftaran['s_namajenis']) . '</b></span>';
$link = '';

echo $this->MenuHelper()->headeratas($judul, $link);
?>
<!--<center>
    <span style="font-family: sans-serif; text-align:right; background:black; border-radius: 25px; color: orange; padding: 5px 5px; font-size: 16px; font-weight:bolder">NPWPD : / ID OP : </span>
</center>-->
<?= $this->form()->openTag($form) ?>
<div class="row">
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA WP (Wajib Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NPWPD</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_npwpd'] ?> 
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nama'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamat_lengkap'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-6">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">DATA OP (Objek Pajak)</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <label class="col-sm-2">NOP</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_nop'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Nama</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_namaobjek'] ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-2">Alamat</label>
                        <div class="col-sm-10">
                            : <?= $datapendaftaran['t_alamatlengkapobjek'] ?>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">HISTORY TRANSAKSI PAJAK</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="datatransaksi"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">FORM DATA LAPORAN</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <center><b class="blink" style="font-size: 12pt; color: red"><?= $message ?></b></center>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Tahun Pajak</label>
                        <div class="col-sm-1">
                            <input type="hidden" name="t_jenisobjekpajak" value="<?= $datapendaftaran['t_jenisobjek'] ?>">
                            <?= $this->formHidden($form->get("t_idkorek")) ?>
                            <?= $this->formHidden($form->get("t_idtransaksi")) ?>
                            <?= $this->formHidden($form->get("t_idobjek")) ?>
                            <?= $this->formHidden($form->get("t_jenispajak")) ?>
                            <?= $this->formText($form->get("t_periodepajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Masa Pajak</label>
                        <div class="col-sm-4">
                            <?= $this->formSelect($form->get("t_masapajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Dasar Pengenaan</label>
                            <div class="col-sm-9 remove-columns">
                                <table id="div_pln" class="table table-bordered table-striped table-condensed cf" style="font-size: 10pt;">
                                <?php if($datapendaftaran['s_rinciankorek'] == '01'){ ?>
                                    <tr>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Uraian/Golongan</th>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Jumlah Nilai Jual Tenaga Listrik (Rp.)</th>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Tarif %</th>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Jumlah Pajak (Rp.)</th>
                                    </tr>
                                    <?php
                                    $x = 0;
                                    foreach ($detailppj as $col => $row):
                                        $t_iddetailppj[$x] = $row['t_iddetailppj'];
                                        $t_idkorek[$x] = $row['t_idkorek'];
                                        $t_nilailistrik[$x] = $row['t_nilailistrik'];
                                        $t_subtotalpajak[$x] = $row['t_subtotalpajak'];
                                        $x++;
                                    endforeach;
                                    $i = 0;
                                    foreach ($rekeningppj as $col => $row):
                                        ?>
                                        <tr>
                                            <td><?= $row['s_namakorek'] ?></td>
                                            <td><input id="nilailistrik<?= $i ?>" name="t_nilailistrik[]" type="text" class="form-control text-right nilailistrik" data-id="<?= $i ?>" data-tarif="<?= $row['s_persentarifkorek'] ?>" onchange="hitungpajakppj(this);this.value = formatCurrency(this.value);" onblur="hitungpajakppj(this);this.value = formatCurrency(this.value);" onkeyup="hitungpajakppj(this);this.value = formatCurrency(this.value);" onkeypress="return numbersonly(this, event);" value="<?= number_format($t_nilailistrik[$i], 0, ',', '.') ?>"></td>
                                            <td class="text-right"><?= $row['s_persentarifkorek'] ?><input type="hidden" name="t_idkoreklistrik[]" value="<?= $row['s_idkorek'] ?>"></td>
                                            <td><input id="subtotalpajak<?= $i ?>" name="t_subtotalpajak[]" type="text" class="form-control text-right subtotalpajak" readonly value="<?= number_format($t_subtotalpajak[$i], 0, ',', '.') ?>"></td>

                                        </tr>
                                        <?php
                                        $i++;
                                    endforeach;
                                    ?>
                                <?php }else{ ?>
                                    <tr>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Uraian/Golongan</th>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Jumlah KWH</th>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Tarif Listrik per KWH</th>
                                        <th style="background-color:#00BCA4; color: white;" class="text-center">Jumlah Total</th>
                                    </tr>
                                    <?php
                                    $x1 = 0;
                                    foreach ($detailppj as $col => $row1):
                                        $t_iddetailppj1[$x1] = $row1['t_iddetailppj'];
                                        $t_idkorek1[$x1] = $row1['t_idkorek'];
                                        $t_nilailistrik1[$x1] = $row1['t_nilailistrik'];
                                        $t_subtotalpajak1[$x1] = $row1['t_subtotalpajak'];
                                        $x1++;
                                    endforeach;
                                    $i = 0;
                                    foreach ($rekeningppj as $col => $row):
                                        ?>
                                        <tr>
                                            <td><?= $row['s_namakorek'] ?></td>
                                            <td><input id="jumlahkwh<?= $i ?>" name="t_jumlahkwh[]" type="text" class="form-control text-right jumlahkwh" data-id="<?= $i ?>" data-tarifkwh="<?= $row['s_tarifdasarkorek'] ?>" onchange="hitungpajakkwh(this);this.value = formatCurrency(this.value);" onblur="hitungpajakkwh(this);this.value = formatCurrency(this.value);" onkeyup="hitungpajakkwh(this);this.value = formatCurrency(this.value);" onkeypress="return numbersonly(this, event);" value="<?= number_format($t_nilailistrik1[$i], 0, ',', '.') ?>"></td>
                                            <td class="text-right"><?= $row['s_tarifdasarkorek'] ?><input type="hidden" name="t_idkorekkwh[]" value="<?= $row['s_idkorek'] ?>"></td>
                                            <td><input id="subtotalkwh<?= $i ?>" name="t_subtotalkwh[]" type="text" class="form-control text-right subtotalkwh" readonly value="<?= number_format($t_subtotalpajak1[$i], 0, ',', '.') ?>">
                                                <input id="pajakkwh<?= $i ?>" name="t_pajakkwh[]" type="hidden"></td>

                                        </tr>
                                        <?php
                                        $i++;
                                    endforeach;
                                    ?>
                                    <tr>
                                        <td colspan="3" class="text-right">Tarif Pajak %</td>
                                        <td><?= $this->formText($form->get("t_tarifpajak")) ?></td>
                                    </tr>    
                                <?php } ?>
                                </table>
                            </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <label class="col-sm-9 control-label">Total Pajak (Rp.)</label>
                        <div class="col-sm-3">
                            <?= $this->formText($form->get("t_jmlhpajak")) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="bg-default" id="tombolsimpan">
                            <?= $this->formInput($form->get('Laporansubmit')) ?> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?= $this->form()->closeTag($form) ?>
<!--</div>-->
<!--</div>-->

<?= $this->MenuHelper()->headeratas_end(); ?> 

<script type="text/javascript">
    
    $(function () {
        CariLaporanByObjek();
    });

    function CariLaporanByObjek() {
        $.post('<?= $this->url() ?>/CariLaporanByObjek', {idobjek: $("#t_idobjek").val(), periodepajak: $("#t_periodepajak").val()}, function (data) {
            var aa = JSON.parse(data);
            $("#datatransaksi").html(aa.datatransaksi);
        });
    }

    function hitungpajak(o) {
        if (typeof o != undefined) {
            var id = $(o).data('id');
            var nilai = $(o).val();
            var tarif = $(o).data('tarif') / 100;
            var subtotal = unformatCurrency(nilai) * tarif;
            $('#subtotalpajak' + id).val(subtotal);
            document.getElementById('subtotalpajak' + id).value = formatCurrency(document.getElementById('subtotalpajak' + id).value);
            hitungtotalpajak();
        }
    }
    
    function hitungpajakkwh(o) {
        if (typeof o != undefined) {
            var id = $(o).data('id');
            var nilai = $(o).val();
            var tarifkwh = $(o).data('tarifkwh');
            var subtotalkwh = unformatCurrency(nilai) * tarifkwh;
            var pajakkwh = Math.round(subtotalkwh * 1.5 /100);
            $('#subtotalkwh' + id).val(subtotalkwh);
            $('#pajakkwh' + id).val(pajakkwh);
            document.getElementById('subtotalkwh' + id).value = formatCurrency(document.getElementById('subtotalkwh' + id).value);
            // hitungtotalpajakppj();
            hitungtotalkwh();
        }
    }

    function hitungtotalpajak() {
        $('#t_jmlhpajak').val('');
        var totalpajak = 0;
        $('.subtotalpajak').each(function (i) {
            var s = unformatCurrency($(this).val());
            totalpajak += Number(s);
        });
        $('#t_jmlhpajak').val(totalpajak);
        document.getElementById('t_jmlhpajak').value = formatCurrency(document.getElementById('t_jmlhpajak').value);
    }

    function hitungtotalkwh() {
        $('#t_jmlhpajak').val('');
        var totalpajak = 0;
        $('.subtotalkwh').each(function (i) {
            var s = unformatCurrency($(this).val());
            totalpajak += Number(s);
        });
        var totlpajakkwh = Math.round(totalpajak * 1.5 / 100);
        $('#t_jmlhpajak').val(totlpajakkwh);
        document.getElementById('t_jmlhpajak').value = formatCurrency(document.getElementById('t_jmlhpajak').value);
    }


    function hitungpajakppj() {
        $.post('<?= $this->url() ?>/hitungpajakppj', {nilailistrik0: $('#nilailistrik0').val(), nilailistrik1: $('#nilailistrik1').val(), persentarifkorek0: $('#persentarifkorek0').val(), persentarifkorek1: $('#persentarifkorek1').val()}, function (data) {
            var aa = JSON.parse(data);
            $('#subtotalpajak0').val(aa.subtotalpajak0);
            $('#subtotalpajak1').val(aa.subtotalpajak1);
        });
        hitungtotalpajakppj();
    }

    function hitungtotalpajakppj() {
        $.post('<?= $this->url() ?>/hitungtotalpajakppj', {
            t_asallistrik: $('#t_asallistrik').val(),
            t_tarifkenaikan: $('#t_tarifkenaikan').val(),
            subtotalkwh0: $("#subtotalkwh0").val(),
            subtotalkwh1: $("#subtotalkwh1").val(),
            subtotalpajak0: $("#subtotalpajak0").val(),
            subtotalpajak1: $("#subtotalpajak1").val()
        }, function (data) {
            var aa = JSON.parse(data);
            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
            $('#t_tarifdasar').val(aa.t_tarifdasar);
            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
        });
    } 
    
//    
//    function hitungpajak() {
//        $.post('<?= $this->url() ?>/hitungpajak', {t_dasarpengenaan: $("#t_dasarpengenaan").val(), t_tarifpajak: $("#t_tarifpajak").val(), t_tarifkenaikan: $("#t_tarifkenaikan").val(), t_jmlhkenaikan: $("#t_jmlhkenaikan").val(), t_jenispajak: $("#t_jenispajak").val(), t_idkorek: $("#t_idkorek").val()}, function (data) {
//            var aa = JSON.parse(data);
//            $('#t_jmlhpajak').val(aa.t_jmlhpajak);
//            $('#t_jmlhkenaikan').val(aa.t_jmlhkenaikan);
//            $('#t_tarifpajak').val(aa.t_tarifpajak);
//        });
//    }
    
//    function simpan() {
//        var ask = confirm('Apakah anda yakin data yang anda masukkan sudah benar?');
//        var btn = $('#Laporansubmit');
//        btn.prop('disabled',true);
//        if (ask) {
////            $("#bodynya").addClass('loading');
//            $("#demo-form").submit(function(){
//                this.submit();
//            });
//        } else {
//            btn.prop('disabled', false);
////            $("#bodynya").removeClass('loading');
//        }
//    }
    
    $('#t_periodepajak').datepicker({
        format: 'yyyy',
        minViewMode: 'years',
        autoclose: true,
    });
</script>
<?php if ($this->flashMessenger()->hasMessages()) { ?>
    <script>
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    </script>
    <?php
    echo '<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-sm" style="border:2px solid blue;">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>';
                                $messages = $this->flashMessenger()->getMessages();
                                foreach ($messages as $message) {
                                    echo $message;
                                }
                                echo '</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                ';
}
?>