<div id="page-content-wrapper">
    <div id="page-content" style="background-color: #DFF0D8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Laporan SKPD <a href="<?= $this->url() ?>/formpageskpd" class="btn btn-xs btn-warning" title=""><i class="glyph-icon icon-plus"></i> Lapor Pajak</a>
                </h4>
            </div>
            <div class="panel-body">
                <table id="example"  cellpadding="0" cellspacing="0" border="0" class="table" width="100%" style="color: black">
                    <thead>
                    <tr class="success" style="font-size:10pt; font: bold;">
                    <th width=""><center>No</center></th>
                    <th width=""><center>No SPTPD</center></th>
                    <th width=""><center>Tgl Pendataan</center></th>
                    <th width=""><center>Nama WP</center></th>
                    <th width=""><center>Nama OP</center></th>
                    <th width=""><center>Masa Pajak</center></th>
                    <th width=""><center>Jumlah Pajak</center></th>
                    <th width=""><center>Status Pembayaran</center></th>
                    <th width=""><center>Perintah</center></th>
                    </tr>
                    </thead>
                    <tbody style="">
                    </tbody>
                    <tfoot>
                    <tr>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width=""></th>
                    </tr></tfoot>
            </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     var dTable;
   
    $(document).ready(function () {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            "sAjaxSource": "<?= $this->url() ?>/datagridlaporanskpd", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aaSorting": [[0, "asc"]],
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "scrollX": true,
//            "searching": false,

            "oLanguage": {
                "sEmptyTable": "Tidak ada data", //when empty
                "sSearch": "", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>",
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",         
                "oPaginate": {"sFirst": "First", "sLast": "Last", "sNext": "Next", "sPrevious": "Previous"} //pagination
            },

            "columnDefs": [
                {"orderable": false, "targets": [0,8], "searchable": false},
                            ]
                        });

        $('th', dTable.table().footer()).each(function () {
            $('.tglform').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true
            });
            
            var title = $('th').eq($(this).index()).text();
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'statuspembayaran') {
                $(this).html('');
            }else if (title.trim().replace(/\s+/, "").toLowerCase() == 'masapajak') {
                $(this).html('');
            } else if (title.trim().replace(/\s+/, "").toLowerCase() == 'tglpendataan') {
                $(this).html('<input type="text" class="form-control tglform" placeholder="tgl pendataan" style="width:100px"/>');
            } else {
                $(this).html('<input type="text" placeholder="' + title.trim().replace(/\s+/, " ").toLowerCase() + '" class="form-control" style="width:100px"/>'); //style="width:100px;"
            }
        });

        // Apply the search
        dTable.columns().eq(0).each(function (colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        
         function fnResetAllFilters() {
            
            dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).val('', function () {
                dTable
                        .column(colIdx)
                        .search('', true)
                        .draw();
            });            
            });  
            
            dTable2.columns().eq(0).each(function (colIdx) {
            $('select', dTable2.column(colIdx).footer()).val('', function () {
                dTable2
                        .column(colIdx)
                        .search('', true)
                        .draw();
            });            
            });
        }
    });
</script>