<?php

use Zend\Debug\Debug;

$judul = '<span style="font-size: 24px;"><b>LAPORAN ' . strtoupper($jenisobjek['s_namajenis']) . '</b></span>';
if ($jenisobjek['s_idjenis'] == 1 || $jenisobjek['s_idjenis'] == 2 || $jenisobjek['s_idjenis'] == 3 || $jenisobjek['s_idjenis'] == 7 || $jenisobjek['s_idjenis'] == 9) {
    $link = '<a href="' . $this->url() . '/form_pagedefault/' . $objekwp . '" class="btn btn-sm btn-success">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Lapor Pajak</a>';
} elseif ($jenisobjek['s_idjenis'] == 5) {
    $link = '<a href="' . $this->url() . '/form_pageppj/' . $objekwp . '" class="btn btn-sm btn-success">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Lapor Pajak</a>';
} elseif ($jenisobjek['s_idjenis'] == 6) {
    $link = '<a href="' . $this->url() . '/form_pageminerba/' . $objekwp . '" class="btn btn-sm btn-success">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Lapor Pajak</a>';
}
// elseif ($jenisobjek['s_idjenis'] == 7) {	
// $link = '<a href="' . $this->url() . '/form_pageparkir/' . $objekwp . '" class="btn btn-sm btn-success">
// <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Lapor Pajak</a>';	
// }

echo $this->MenuHelper()->headeratas($judul, $link);
?>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-2">
            <select class="form-control input-sm" id="combocari" onchange="calldatagrid()">
                <option value="">Pilih Pencarian</option>
                <option value="t_nourut">No. SPTPD</option>
                <option value="t_nama">Nama WP</option>
                <option value="t_npwpd">NPWPD</option>
                <option value="t_namaobjek">Nama Objek</option>
                <option value="t_nop">NOP</option>
                <option value="t_tglpendataan">Tanggal Pendataan</option>
            </select>
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-sm">
                <input type="text" placeholder="Cari" class="form-control pull-right" name="kolomcari" id="kolomcari" onkeyup="calldatagrid()">
                <div class="input-group-btn combooperatorc">
                    <select data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="combooperator" onchange="calldatagrid()" style="text-align: left;">
                        <option value="">Pilih</option>
                        <option value="carisama">=</option>
                        <option value="carilike">%</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <span class="hiddene">
                <select class="form-control input-sm" id="combosorting" onchange="calldatagrid()">
                    <!--<option value="">Pilih Urutan</option>-->
                    <option value="t_nourut">No. SPTPD</option>
                    <option value="t_nama">Nama WP</option>
                    <option value="t_npwpd">NPWPD</option>
                    <option value="t_namaobjek">Nama Objek</option>
                    <option value="t_nop">NOP</option>
                    <option value="t_tglpendataan">Tanggal Pendataan</option>
                </select>
            </span>
        </div>
        <div class="col-sm-2">
            <span class="hiddene">
                <div class="form-inline">
                    <div class="radio">
                        <label>
                            <input type="radio" value="ASC" id="sortasc" name="sortere" onclick="calldatagrid()">
                            Terkecil
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" checked="" value="DESC" id="sortdesc" name="sortere" onclick="calldatagrid()">
                            Terbesar
                        </label>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="example-box-wrapper">
        <div class="remove-columns">
            <div style='overflow: auto'>
                <table class="table table-bordered table-striped table-condensed cf" style="font-size: 9pt; color: black;width:100%">
                    <thead class="cf" style="background: blue">
                        <tr class="bg-blue">
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:5%;vertical-align:middle;">
                                No.
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:7%;vertical-align:middle;">
                                No. SPTPD
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                NPWPD
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Nama
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                NOP
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Nama Objek
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Masa Pajak
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Tgl. Pendataan
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                Jumlah Pajak (Rp.)
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:13%;vertical-align:middle;">
                                Pembayaran
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:7%;vertical-align:middle;">
                                Inputan Dari
                            </th>
                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:5%;vertical-align:middle;">
                                Perintah
                            </th>
                        </tr>
                    </thead>
                    <tbody id="body_grid">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12" class="text-center">
                                <div class="row">
                                    <div class="col-sm-3 text-left">
                                        <span class="hiddene">
                                            <select id="rows" class="form-control" style="width: 30%" onchange="calldatagrid(1)">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="40">40</option>
                                                <option value="50">50</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-sm-6" style="text-align: center">
                                        <center>
                                            <div id="paginatore"></div>
                                            <input type="hidden" id="s_idjenis" value="<?= $s_idjenis ?>">
                                            <input type="hidden" id="t_idobjek" value="<?= $objekwp ?>">
                                            <input type="hidden" id="page" value="1">
                                        </center>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <span class="hiddene">
                                            <p>
                                                <b style="font-size: 13px; color: orangered"><span id="awaldata"></span> s/d <span id="akhirdata"></span> Dari <span id="total_data"></span> Data</b>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<?= $this->MenuHelper()->headeratas_end(); ?>

<script type="text/javascript">
    $(function() {
        calldatagrid();
    });

    function calldatagrid(direction) {
        if ($("#combocari").val().length == 0)
            par1 = undefined;
        else
            par1 = $("#combocari").val()
        if ($("#kolomcari").val().length == 0)
            par2 = undefined;
        else
            par2 = $("#kolomcari").val()
        if ($("#combosorting").val().length == 0)
            par3 = undefined;
        else
            par3 = $("#combosorting").val()
        if (document.getElementById("sortasc").checked)
            par4 = $("#sortasc").val()
        else
            par4 = undefined;
        if (document.getElementById("sortdesc").checked)
            par5 = $("#sortdesc").val()
        else
            par5 = undefined;
        if ($("#combooperator").val().length == 0)
            par6 = undefined;
        else
            par6 = $("#combooperator").val()
        datagridlaporan($("#s_idjenis").val(), $("#t_idobjek").val(), $("#page").val(), $("#rows").val(), direction, par1, par2, par3, par4, par5, par6);
    }

    function datagridlaporan(s_idjenis, t_idobjek, page, row, direction, par1, par2, par3, par4, par5, par6) {
        $.get('<?= $this->url() ?>/dataGrid/' + s_idjenis + '/' + t_idobjek + '/' + null + '/' + page + '/' + row + '/' + direction + '/' + par1 + '/' + par2 + '/' + par3 + '/' + par4 + '/' + par5 + '/' + par6, function(data) {
            var aa = JSON.parse(data)
            $("#body_grid").html(aa.grid);
            $("#rows").val(aa.rows);
            $("#page").val(aa.page);
            $("#total_data").html(": " + aa.count);
            $("#total_halaman").html(": " + aa.total_halaman);
            $("#paginatore").html(aa.paginatore);
            $("#awaldata").html(aa.awaldata);
            $("#akhirdata").html(aa.akhirdata);
        });
    }

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
        }
        setTimeout(function() {
            calldatagrid();
        }, 1000);
    }
</script>
<style type="text/css">
    .combooperatorc select {
        border: 0 !important;
        /*Removes border*/
        -webkit-appearance: none;
        /*Removes default chrome and safari style*/
        -moz-appearance: none;
        /* Removes Default Firefox style*/
        appearance: none;
        /*background: #E08E0B url(img/select-arrow.png) no-repeat 90% center;*/
        background: #E08E0B no-repeat 90% center;
        text-indent: 0.01px;
        /* Removes default arrow from firefox*/
        color: #FFF;
    }
</style>
<?php if ($this->flashMessenger()->hasMessages()) { ?>
    <script>
        $(window).load(function() {
            $('#myModal').modal('show');
        });
    </script>
<?php
    echo '<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>';
    $messages = $this->flashMessenger()->getMessages();
    foreach ($messages as $message) {
        echo $message;
    }
    echo '</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                ';
}
?>

<?php

// $dataidtransaksi = [
//     "t_idobjek" => 561,
//     "t_idwp" => 479,
//     "t_noobjek" => 14,
//     "t_tgldaftarobjek" => "2022-01-01",
//     "t_nop" =>  "01.00014.06.04",
//     "t_namaobjek" => "LOSMEN KURNIA",
//     "t_alamatobjek" =>  "Jl. Hantipan",
//     "t_namaobjekpj" =>  "RIONALDO HARDLEN H.M RAIB",
//     "t_alamatobjekpj" => "Jl. Hantipan",
//     "t_rtobjek" => "0  ",
//     "t_rwobjek" =>  "0  ",
//     "t_kelurahanobjek" => 4,
//     "s_namakel" => "Tumbang Miri",
//     "t_kecamatanobjek" => 6,
//     "s_namakec" =>  "Kahayan Hulu Utara",
//     "t_kabupatenobjek" =>  "GUNUNG MAS",
//     "t_alamatlengkapobjek" =>  "Jl. Hantipan, RT. 0, RW. 0, Kel./desa Tumbang Miri, Kec. Kahayan Hulu Utara",
//     "t_kodeposobjek" =>  "",
//     "t_latitudeobjek" =>  "",
//     "t_longitudeobjek" =>  "",
//     "t_notelpobjek" =>  "",
//     "t_jenisobjek" => 1,
//     "t_operatorid" => 49,
//     "s_idjenis" => 1,
//     "s_namajenis" =>  "Pajak Hotel",
//     "s_namajenissingkat" =>  "Pajak Hotel",
//     "t_akhirlapor" =>  "15",
//     "t_akhirbayar" =>  "10",
//     "t_jmlharitempo" => NULL,
//     "t_gambarobjek" => "",
//     "s_jenispungutan" => "Pajak",
//     "t_npwpdwp" =>  "P.1.0000015.06.04",
//     "t_namawp" =>  "RIONALDO HARDLEN H.M RAIB",
//     "t_alamat_lengkapwp" =>  "Jl. Hantipan, RT. 0  , RW. 0  , Kel./desa Tumbang Miri, Kec. Kahayan Hulu Utara, Kab. Gunung Mas",
//     "s_nama" => "Jonedy",
//     "t_korekobjek" => 9,
//     "t_noberita" => NULL,
//     "t_statusobjek" => true,
//     "t_nikwp" =>  "6210040309940001",
//     "t_tipeusaha" => 18,
//     "s_namausaha" => "LOSMEN",
//     "s_nomenlama" =>  "Pajak Hotel",
//     "t_idtransaksi" => 14029,
//     "t_idkorek" => 10,
//     "t_idwpobjek" => 561,
//     "t_nourut" => 125,
//     "t_tglpendataan" =>  "2024-03-22",
//     "t_jmlhpajak" => 10000,
//     "t_masaawal" =>  "2024-02-01",
//     "t_masaakhir" =>  "2024-02-29",
//     "t_periodepajak" =>  "2024",
//     "t_dasarpengenaan" => "100000",
//     "t_tarifpajak" =>  "10",
//     "t_kodebayar" =>  "620701012400125",
//     "t_nama" =>  "RIONALDO HARDLEN H.M RAIB",
//     "t_alamat" => "Jl. Hantipan",
//     "t_alamat_lengkap" =>  "Jl. Hantipan, RT. 0  , RW. 0  , Kel./Desa Tumbang Miri, Kec. Kahayan Hulu Utara, Kab. GUNUNG MAS",
//     "t_npwpd" =>  "P.1.0000015.06.04",
//     "t_kabupaten" =>  "GUNUNG MAS",
//     "s_idkorek" => 10,
//     "korek" =>  "4.1.01.06.03.001",
//     "s_namakorek" => "Losmen",
//     "s_persentarifkorek" =>  "10",
//     "s_tarifdasarkorek" => NULL,
//     "s_rinciankorek" =>  "03",
//     "url" => "http://localhost:5630"
// ];
if ($dataidtransaksi != null) { ?>
    <script>
        $(window).load(function() {
            $('#myModal').modal('hide');
            $('#modalNotif').modal('show');
        });
    </script>

<?php }
$pajak = number_format($dataidtransaksi['t_jmlhpajak'], 0, ',', '.');
$denda = number_format($dataidtransaksi['denda'], 0, ',', '.');
$sanksi = number_format($dataidtransaksi['sanksiadm'], 0, ',', '.');
$total = number_format($dataidtransaksi['t_jmlhpajak'] + $dataidtransaksi['denda'] + $dataidtransaksi['sanksiadm'], 0, ',', '.');
echo '<div class="modal fade bs-example-modal-m" id="modalNotif" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-m">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p><center>
                                <span style="color:green;">Sukses!</span>
                                </center>
                                <br>
                                    Pelaporan SPT Berhasil disimpan!
                                </p>
                                <table class="table" cellpadding="4">
                                    <tr>
                                        <td colspan="4">
                                            ' . $dataidtransaksi['t_namaobjek'] . '
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kode Bayar
                                        </td>
                                        <td>
                                        : 
                                        </td>
                                        <td>
                                        <span style="color:green;">' . $dataidtransaksi['t_kodebayar'] . '</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Masa Pajak
                                        </td>
                                        <td>
                                             : 
                                        </td>
                                        <td>
                                            ' . date('d-m-Y', strtotime($dataidtransaksi['t_masaawal'])) . ' s/d ' . date('d-m-Y', strtotime($dataidtransaksi['t_masaakhir'])) . '
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Pajak
                                        </td>
                                        <td>
                                             : 
                                        </td>
                                        
                                        <td style="text-align:right;">
                                            ' . $pajak . '
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Denda
                                        </td>
                                        <td>
                                             : 
                                        </td>
                                        
                                        <td style="text-align:right;">
                                            ' . $denda . '
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sanksi ADM
                                        </td>
                                        <td>
                                             : 
                                        </td>
                                        
                                        <td style="text-align:right;">
                                            ' . $sanksi . '
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total
                                        </td>
                                        <td>
                                             : 
                                        </td>
                                        
                                        <td style="text-align:right;">
                                            ' . $total . '
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                                
                                <a class="btn btn-warning" href="' . $dataidtransaksi['url'] . '/laporan/cetakkodebayar?&t_idtransaksi=' . $dataidtransaksi['t_idtransaksi'] . '" target="_blank" title="Cetak Kode Bayar"><i class="glyphicon glyphicon-print"></i> Cetak Kode Bayar</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                ';
?>