<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/ubahpassback');
$frm->prepare();
?>            

<div class="content-wrapper">

    <section class="content">
          <div class="row">

            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary" style="border: 1px solid orange;">
                <div class="box-header with-border bg-orange">
                  <h3 class="box-title"><i class="fa fa-key"></i> UBAH PASSWORD</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                  <div class="box-body">
                    <?= $this->form()->openTag($frm) ?>
                    <?= $this->formRow($frm->get('s_iduser')) ?>
					<div class="col-sm-12">
						<div class="col-sm-2">
							<label>Password Lama</label>
						</div>
						<div class="col-sm-5">
							<?= $this->formRow($frm->get('t_password_old')) ?>
						</div>
						<div class="col-sm-5" id="pesan_passlama" style="color:red;">
						</div>
					</div>
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <label>Password Baru</label>
                        </div>
                        <div class="col-sm-5">
                            <?= $this->formRow($frm->get('s_password')) ?>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <label>Ulangi Password Baru</label>
                        </div>
                        <div class="col-sm-5">
                            <?= $this->formRow($frm->get('t_pass2')) ?>
                        </div>
						<div class="col-sm-5" id="pesan_passbaru" style="color:red;">
							</div>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-warning">Ganti Password</button>
                            <!-- <?= $this->formInput($frm->get('simpan')) ?> -->
                        </div>
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                  </div>
                <?= $this->form()->closeTag($frm) ?>
              </div><!-- /.box -->
          </div>
    </div>
    </section>
</div>
<script type="text/javascript">
$('#t_password_old').change(function () {
	$.post('<?= $this->url() ?>/validasipass', {t_password_old: $('#t_password_old').val()}, function (data) {
		var aa = JSON.parse(data);
		$("#pesan_passlama").html(aa.pesan_passlama);
		$("#t_password_old").val(aa.field_passlama);
	});
});

$('#t_pass2').change(function () {
	$.post('<?= $this->url() ?>/validasipass', {s_password: $('#s_password').val(), t_pass2: $('#t_pass2').val()}, function (data) {
		var aa = JSON.parse(data);
		$("#pesan_passbaru").html(aa.pesan_passbaru);
		$("#s_password").val(aa.field_passbaru);
		$("#t_pass2").val(aa.field_passbaru2);
	});
});
</script>	