<link href="<?= $this->basePath(); ?>/public/css/animate-custom.css" rel="stylesheet">
<link href="<?= $this->basePath(); ?>/public/monarch/assets/themes/components/default.css" rel="stylesheet">
<?php 
    $bg = $this->MenuHelper()->GetDataBackground(); 
    
    if(!empty($bg['file_bg_esptpd'])){
        $filebg = $bg['file_bg_esptpd']; 
    }else{
        $filebg = '/public/upload/bg-pelabuhan.jpg';
    }
    
 ?>

<style>
    .login-page{
        /*height-min: 125%;*/
         background: url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath().$filebg; ?>') #fff no-repeat center center fixed; 
         min-height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    } 
    
    .login-warna {
        background: transparent url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath(); ?>/public//img/transpBlue75.png') repeat;
    }
    
    .login-img {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url().'/confirmpassword');
$form->setAttribute("id", "frm-horizontal");
$form->setAttribute("class", "form-signin");
$form->prepare();
?>
<div class="center-vertical animated bounceInDown">
    <div class="center-content row">
        <?php
        if ($this->flashMessenger()->hasMessages()) {
            echo '<div class="alert alert-danger alert-dismissable col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin">'
            . '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'
            . '<i class="glyph-icon icon-info"></i> ';
            $messages = $this->flashMessenger()->getMessages();
            foreach ($messages as $message) {
                echo $message;
            }
            echo '</div>';
        }
        ?>
        <form action="#" id="login-validation" class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin" method="post">
            <?= $this->form()->openTag($form) ?>
            <div class="content-box login-warna" style=" border-radius: 10px">
                <h3 class="content-box-header content-box-header-alt pad0B">
                    <div class="col-md-12"><center><img src="<?= $this->basePath().'/'.$data_pemda->s_logo ?>" alt="" width="70"></center></div>
                    <div class=" col-md-12" style=" color: white;font-size: 24pt;margin-top: 20px;">
                        <center><img src="<?= $this->basePath(); ?>/public/img/logoesptpd.png" width="140" style="margin-bottom: 5px;">
                        <small style="color: white;font-size: 11pt">Confirmasi Reset Password!</small></center>
                    </div>
                </h3> 
                <div class="content-box-wrapper pad20A">
                    <div class="form-group">
                        <div class="input-group">
                            <?= $this->formRow($form->get("s_passwordbaru")) ?>
                            <span class="input-group-addon">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <?= $this->formRow($form->get("s_passwordbarulagi")) ?>
                            <span class="input-group-addon">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                        </div>
                    </div>
                    <?= $this->formRow($form->get("Submit")) ?>
                </div>
            </div>
            <?= $this->form()->closeTag($form) ?>
        </form>

    </div>
</div>
<style type="text/css">
    html,body {
        height: 100%;
        /*background: gray;*/
    }
</style>

<script>
//    $(function () {
//
//        if (parseInt('<?$error_count ?>') > 0) {
//            alert('<?$error_message ?>');
//            $("#s_email").val("");
//        }
//
//    });
</script>
