<link href="<?= $this->basePath(); ?>/public/css/animate-custom.css" rel="stylesheet">
<link href="<?= $this->basePath(); ?>/public/monarch/assets/themes/components/default.css" rel="stylesheet">
<?php
$bg = $this->MenuHelper()->GetDataBackground();

if (!empty($bg['file_bg_esptpd'])) {
    $filebg = $bg['file_bg_esptpd'];
} else {
    $filebg = '/public/upload/bg-pelabuhan.jpg';
}
?>

<style>
    .login-page{
        /*height-min: 125%;*/
        background: url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath() . $filebg; ?>') #fff no-repeat center center fixed; 
        min-height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    } 

    .login-warna {
        background: transparent url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath(); ?>/public//img/transpBlue50.png') repeat;
    }

    .login-img {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url());
$form->setAttribute("id", "frm-horizontal");
$form->setAttribute("class", "form-signin");
$form->prepare();
?>
<div class="center-vertical  animated bounceInDown" style=" padding-top: 10px">
    <div class="center-content row" style="">

        <div class="col-md-7 clearfix center-margin" style=" padding-left: 20px; padding-right: 20px">
            
            <div class="col-md-6 pad0A">
                <form method="post" action="#">
                    <?= $this->form()->openTag($form) ?>  
                    <div class="content-box login-warna" style=" border-radius: 10px">
                        <h3 class="content-box-header content-box-header-alt pad0B">
                            <div class="col-md-2"><img src="<?= $this->basePath().'/public/upload/logo.png'?>"  width="50"></div>
                            <!-- <div class="col-md-2"><img src="<?= $this->basePath().'/'.$data_pemda->s_logo ?>"  width="70"></div> -->
                            
                            <div class=" col-md-10" style=" color: white;font-size: 24pt">
                                <!-- <b>E - SPTPD</b> -->
                                <img src="<?= $this->basePath(); ?>/public/img/logoesptpd.png" width="160" style="margin-bottom: 5px;"><br>
                                <small style="color: white;font-size: 12pt">Masukkan Username dan Password !</small></div>
                        </h3> 
                        <div class="content-box-wrapper">
                            <div class="form-group">
                                <div class="input-group">
                                    <?= $this->formRow($form->get("s_username")) ?>
                                    <span class="input-group-addon">
                                        <i class="glyph-icon icon-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <?= $this->formRow($form->get("s_password")) ?>
                                    <span class="input-group-addon">
                                        <i class="glyph-icon icon-unlock-alt"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    
                                </div>
                            </div>
                            <?= $this->formRow($form->get("Loginsubmit")) ?>         
                        </div>  
                    </div>
                    <?= $this->form()->closeTag($form) ?>
                </form>
            </div>
			<div class="col-md-6 pad10A login-warna content-box animated flipInY" style=" border-radius: 10px">
                <img src="<?= $this->basePath(); ?>/public/img/logoesptpd.png" width="120" style="margin-bottom: 5px;"><br>
                <!-- <h3 class="text-transform-upr font-size-24 font-bold font-white"><b>E-SPTPD</b></h3> -->
                <small style="color: white;font-size: 11pt">Elektronik Surat Pemberitahuan Pajak Daerah<br>(Kabupaten <?= $data_pemda->s_namakabkota ?>)</small>
                <div class="divider"></div>
                <ul class="reset-ul">
                    <!--                    <li class="pad10A font-size-12">
                                            <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                                            <b class="font-white">Download Buku Panduan <a href="<?= "http://" . $_SERVER['HTTP_HOST'] . "" . $this->basePath() . "/public/panduan/dokregistrasi.pdf#page=1"; ?>" target="_blank" class="font-red bold"><u>DISINI !</u></a></b>
                                        </li>-->
                    <li class="pad10A font-size-12">
                        <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                        <b class="font-white">Masukkan Username dan Password jika mempunyai akun</b>
                    </li>
                    <li class="pad10A font-size-12">
                        <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                        <b class="font-white">Aplikasi Pelaporan Pajak Kabupaten <?= ucfirst($data_pemda->s_namakabkota) ?></b>
                    </li>
                    <!--<li class="pad10A font-size-12">
                        <i class="glyph-icon icon-check-circle mrg10R font-white"></i>
                        <b class="font-white">Password anda lupa? klik <a href="<?= $this->url('sign_in') . '/resetpassword' ?>" style="color:orange;font-size:12pt; "><b>Reset Password</b></a></b>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    html,body {
        height: 100%;
        /*background: gray;*/
    }
</style>
<?php if ($this->flashMessenger()->hasMessages()) { ?>
    <script>
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    </script>
    <?php
    echo '<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-sm" style="border:2px solid blue;">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>';
                                $messages = $this->flashMessenger()->getMessages();
                                foreach ($messages as $message) {
                                    echo $message;
                                }
                                echo '</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                ';
}
?>