<?php

echo $this->headTitle($this->translate('History Pajak Kab. Kaimana'))->setAutoEscape(false);
if (!empty($data_npwpdrd)) {
    if ($data_wp['t_jenispendaftaran'] == 'P') {
        $jenis_npwpd_rd = 'NPWPD';
        $jenis_pajak = 'PAJAK';
    } else {
        $jenis_npwpd_rd = 'NPWRD';
        $jenis_pajak = 'RETRIBUSI';
    }
    ?>
    <div class="row" style="margin: auto;">
        <div class="col-md-12">
            <div class="box box-primary box-solid">
                <div class="box-header with-border" style="text-align: center;background-image: linear-gradient(#134f0b, #167c07, #134f0b);">
                    <span style="font-size:12pt">PEMERINTAH <?= strtoupper($data_pemda->s_namakabkota) ?></span>
                    <br>
                    <span style="font-size:14pt; font-weight: bold"><?= strtoupper($data_pemda->s_namainstansi) ?></span>
                </div>
                <div class="box-header with-border" style=" text-align: center;background-image: linear-gradient(to bottom right, #0d215b, #254bbc);">
                    <h2 class="box-title"><b>HISTORY TRANSAKSI PAJAK TAHUN <?= date('Y') ?></b></h2><br>
                    <h3 class="box-title"><span class="badge bg-black"><b style="color:greenyellow;font-size: 12pt;"><?= $jenis_npwpd_rd . ' : ' . $data_npwpdrd ?></b></span></h3><br>
                    <h3 class="box-title">NAMA WAJIB <?= $jenis_pajak . ' : <B>' . $data_wp['t_nama'] . '</B>' ?></h3><br>
                    <h5 class="box-title"><?= strtoupper($data_wp['t_alamat_lengkap']) ?></h5>

                </div>
                <div class="box-body" style="text-align:center">
                    <h5 class="box-title" style="color:blue;"><u><b>Pilih Jenis Objek <?= ucwords(strtolower($jenis_pajak)) ?></b></u></h5>
                    <?php
                    $no = 1;
                    foreach ($data_wpobjek as $value) {
                        echo '<a href="' . $this->url('npwpdrdobjek') . '?npwpd_rd=' . $data_npwpdrd . '&t_idobjek=' . $value['t_idobjek'] . '" class="btn btn-sm btn-success" style="margin:2px;height:50px;"><span>' . $no++ . '. ' . $value['s_namajenis'] . '<br>NOP. ' . $value['t_nop'] . ' - ' . $value['t_namaobjek'] . '</span></a><br>';
                    }
                    ?>
                </div>
                <div class="box-footer" style="text-align:center">
                    <a href="<?=$this->url('sign_in')?>" class="btn btn-sm btn-warning" target="_blank"><i class="fa fa-minus-circle"></i> MASUK KE e-SPTPD</a>
                    <!--<a href="http://esptpd.kaimanakab.go.id" class="btn btn-sm btn-warning" target="_blank"><i class="fa fa-minus-circle"></i> MASUK KE e-SPTPD</a>-->
                </div>
            </div>
        </div>
    </div>
    <?php
} else {
    ?>
    <div class="row" style="margin-top: 60px;margin-left: 140px;margin-right: 140px;">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4>NPWPD atau NPWRD Tidak ditemukan!</h4>
                <p>Silahkan Scan QRcode yang benar sesuai Kartu NPWPD atau NPWRD anda. Jika Kartu NPWPD atau NPWRD anda tidak QRcode, silahkan upgrade Kartu NPWPD atau NPWRD anda. Terima Kasih.
                    <br><br>
                    <br>
                    Hormat Kami,
                    <br>
                    <b>
                        <?=
                        $data_pemda->s_namainstansi . ' ' . $data_pemda->s_namakabkota
                        ?></b>
                </p>
            </div>
        </div>
    </div>

<?php } ?>
<style type="text/css">
    .combooperatorc select {
        border: 0 !important;  /*Removes border*/
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        appearance:none;
        /*background: #E08E0B url(img/select-arrow.png) no-repeat 90% center;*/
        background: #E08E0B no-repeat 90% center;
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        color: #FFF;
    }	
</style>