<?php
echo $this->headTitle($this->translate('History Pajak Kab. Kaimana'))->setAutoEscape(false);
if (!empty($data_npwpdrd)) {
    if($data_wp['t_jenispendaftaran'] == 'P'){
        $jenis_npwpd_rd = 'NPWPD';
        $jenis_pajak = 'PAJAK';
    } else {
        $jenis_npwpd_rd = 'NPWRD';
        $jenis_pajak = 'RETRIBUSI';
    }
    ?>
<div class="row" style="margin: auto;">
        <div class="col-md-12">
            <div class="box box-primary box-solid">
                <div class="box-header with-border" style=" text-align: center;background-image: linear-gradient(#134f0b, #167c07, #134f0b);">
                    <span style="font-size:12pt">PEMERINTAH <?= strtoupper($data_pemda->s_namakabkota) ?></span>
                    <br>
                    <span style="font-size:14pt; font-weight: bold"><?= strtoupper($data_pemda->s_namainstansi) ?></span>
                </div>
                <div class="box-header with-border" style=" text-align: center;background-image: linear-gradient(to bottom right, #0d215b, #254bbc);">
                    <h2 class="box-title"><b>HISTORY TRANSAKSI PAJAK TAHUN <?= date('Y') ?></b></h2><br>
                    <h3 class="box-title"><span class="badge bg-black"><b style="color:greenyellow;font-size: 12pt;"><?= $jenis_npwpd_rd . ' : ' . $data_npwpdrd ?></b></span></h3><br>
                    <h3 class="box-title">NAMA WAJIB <?= $jenis_pajak . ' : <B>' . $data_wp['t_nama'] . '</B>' ?></h3><br>
                    <h5 class="box-title"><?= strtoupper($data_wp['t_alamat_lengkap']) ?></h5>

                </div>
                <div class="box-body" style=" text-align: center;">
                    <h5 class="box-title"><b style="background:black;color: orange;font-size: 14pt;padding: 3px 15px 5px 15px;"><?= strtoupper($data_wpobjek['s_namajenis']) ?></b></h5>
                    <div class="example-box-wrapper">
                        <div class="remove-columns">
                            <div style='overflow: auto'>
                                <table class="table table-bordered table-striped table-condensed cf" style="font-size: 9pt; color: black;width:100%">
                                    <thead class="cf" style="background: blue">
                                        <tr class="bg-blue">            
                                            <th colspan="5" style="background-color: #3c8dbc; color: white; text-align: center;vertical-align:middle;border-right:1px solid #fff; ">
                                                PENDATAAN
                                            </th> 
                                            <th colspan="3" style="background-color: #3c8dbc; color: white; text-align: center;vertical-align:middle;">
                                                PEMBAYARAN
                                            </th>
                                        </tr>
                                        <tr class="bg-blue">
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:5%;vertical-align:middle;">
                                                No.
                                            </th>         
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:15%;vertical-align:middle;">
                                                Kode Rekening
                                            </th>            
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                                Tanggal
                                            </th> 
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:15%;vertical-align:middle;">
                                                Masa Pajak
                                            </th>         
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                                Pajak (Rp.)
                                            </th>       
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                                Tanggal
                                            </th>         
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                                Jumlah (Rp.)
                                            </th>     
                                            <th style="background-color: #3c8dbc; color: white; text-align: center;width:10%;vertical-align:middle;">
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="body_grid">
                                        <?php
                                        $no=1;
                                        foreach ($data_transaksi as $key => $v) { 
                                        $status_pembayaran = ($v['t_tglpembayaran'] != Null ? '<b style="color:green">LUNAS</b>' : '' );
                                        if($v['t_tglpembayaran'] != Null){
                                            $pembayaran = '<td style="text-align:center">'.date('d-m-Y', strtotime($v['t_tglpembayaran'])).'</td>
                                            <td style="text-align:right">'.number_format($v['t_jmlhpembayaran'], 0, ',', '.').',-</td>
                                            <td style="text-align:center">'.$status_pembayaran.'</td>';
                                        }else{
                                            $pembayaran = '<td colspan="3" style="text-align:center;color:red"><b>BELUM BAYAR</b></td>';
                                        }
                                        ?>
                                        <tr>
                                            <td style="text-align:center"><?=$no++?>.</td>
                                            <td><?=$v['korek'].' - '.$v['s_namakorek']?></td>
                                            <td style="text-align:center"><?=date('d-m-Y', strtotime($v['t_tglpendataan']))?></td>
                                            <td style="text-align:center"><?=date('d-m-Y', strtotime($v['t_masaawal'])).' s/d '.date('d-m-Y', strtotime($v['t_masaakhir']))?></td>
                                            <td style="text-align:right"><?=number_format($v['t_jmlhpajak'], 0, ',', '.')?>,-</td>
                                            <?=$pembayaran?>
                                        </tr>    
                                        <?php
                                        }
                                        
                                        ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer" style="text-align:center">
                    <a href="<?=$this->url('npwpdrd').'?npwpd_rd='.$data_npwpdrd?>" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i> TUTUP</a> 
                    <a href="<?=$this->url('sign_in')?>" class="btn btn-sm btn-success" target="_blank"><i class="fa fa-minus-circle"></i> MASUK KE e-SPTPD</a>
                    <!--<a href="http://esptpd.kaimanakab.go.id" class="btn btn-sm btn-success" target="_blank"><i class="fa fa-minus-circle"></i> MASUK KE e-SPTPD</a>-->
                </div>
            </div>
        </div>
    </div>
    <?php
} else {
    ?>
    <div class="row" style="margin-top: 60px;margin-left: 140px;margin-right: 140px;">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4>NPWPD atau NPWRD Tidak ditemukan!</h4>
                <p>Silahkan Scan QRcode yang benar sesuai Kartu NPWPD atau NPWRD anda. Jika Kartu NPWPD atau NPWRD anda tidak QRcode, silahkan upgrade Kartu NPWPD atau NPWRD anda. Terima Kasih.
                    <br><br>
                    <br>
                    Hormat Kami,
                    <br>
                    <b>
                        <?=
                        $data_pemda->s_namainstansi . ' ' . $data_pemda->s_namakabkota
                        ?></b>
                </p>
            </div>
        </div>
    </div>

<?php } ?>
<style type="text/css">
    .combooperatorc select {
        border: 0 !important;  /*Removes border*/
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        appearance:none;
        /*background: #E08E0B url(img/select-arrow.png) no-repeat 90% center;*/
        background: #E08E0B no-repeat 90% center;
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        color: #FFF;
    }	
</style>