<?php echo $this->headTitle("DATA REALISASI") ?>
<style>
    #page-content {
    margin-left: 10px;
    padding: 20px 30px;
    min-height: 400px;
}
.example-box-wrapper {
    margin-bottom: 10px;
    position: relative;
}
.tile-box{
    margin: 5px;
}
#relaisasi{
   font-size:24pt;
}
        
    @media only screen and (min-width:600px){
        /*styles for mobile browsers smaller than 480px; (iPhone)*/ 
       #relaisasi{
        font-size:32pt;
        }
    }
</style>
<div id="page-content-wrapper">
    <div id="page-content" class=" bg-gradient-4" style=" height: 100px">
        <div class="row">
            <div class="col-md-12">
                        <div class="example-box-wrapper">
                                <div class="col-sm-1">
                                    <div class="clearfix" align="center"> 
                                        <img src="<?= $data_pemda->s_logo ?>" alt="" width="80%">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="clearfix">
                                        <span style="font-size: 18pt;color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">
                                            <b>PEMERINTAH <?= strtoupper($data_pemda->s_namakabkota) ?><br> PROVINSI <?= strtoupper($data_pemda->s_namaprov) ?></b></span>
                                        <br>
                                        <span style="font-size: 18pt;color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">
                                            <b><?= $data_pemda->s_namainstansi ?> (<?= $data_pemda->s_namasingkatinstansi ?>)</b></span>
                                    </div>
                                </div>
                            <div class=" col-md-2" style="font-size: 15pt;color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">
                                <h3>WAKTU SAAT INI :</h3>
                                <h1 id="clock"></h1>
                            </div>
                        </div>
                </div>
                
                <?php 
                $i = 0;
                $jumlah = count($datarealisasi['idjenis']);
                $totalrealisasi = 0;
                $totaltarget = 0;
                while ($i < $jumlah) { 
                    $persen = $datarealisasi['realisasi'][$i] / $datarealisasi['target'][$i] * 100;
                    $hasilpersen = $datarealisasi['realisasi'][$i] / $datarealisasi['target'][$i] * 100;
//                    var_dump($persen);exit();
                    if($i == 3 || $i == 7){
                       $warna = "btn-warning"; 
                    }else if($i == 9 || $i == 10){
                       $warna = "btn-primary";  
                    }else{
                       $warna = "btn-info"; 
                    }
                    ?>
                <div class="col-md-3" style="">
                    <a class="tile-box tile-box-alt <?= $warna?>" title="<?= $datarealisasi['namapajak'][$i]?>" href="#">
                        <div class="tile-header">
                            <?= $datarealisasi['namapajaksingkat'][$i] ?>
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="col-md-8">
                                <h3>Rp. <?= number_format($datarealisasi['realisasi'][$i],0,',','.')?></h3><hr><h3>Rp. <?= number_format($datarealisasi['target'][$i],0,',','.')?></h3>
                            </div>
                            <div class="col-md-4" style="">
                                <div data-percent="<?= $persen ?>" class="chart easyPieChart" style=""><b style=" font-size: 11pt"><?= number_format($persen,2,',','') ?> %</b></div>
                        </div>
                        </div>
                    </a>
                </div>
                <?php 
                $totalrealisasi += $datarealisasi['realisasi'][$i];
                $totaltarget += $datarealisasi['target'][$i];
                $i = $i + 1;
                } 
                $persentotal = $totalrealisasi / $totaltarget * 100;
                
                ?>
        </div>
        <div class="row">
        <div class="" style=" margin-left: 5px; padding-top: 10px">
            <div class="example-box-wrapper col-md-offset-2 col-md-8" style=" border: 2px solid white; padding: 20px;border-radius: 45px">
                <b style="font-size: 32pt;color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">REALISASI : </b>
                <b id="relaisasi" style="color: yellow;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; text-wrap: normal">
                    Rp. <?= number_format($totalrealisasi,0,',','.')?> (<?= number_format($persentotal,0,',','.')?>%)</b>
                        </div>
                </div>
        </div>
<!--         <div class="panel panel-primary" style=" border-color: #008c1f ">
            <div class="panel-heading" style="background-color: #008c1f">
                <h3><center><b>Tabel Realisasi Pajak</b></center>
                </h3>
            </div>
            <div class="panel-body">
                <table id="example"  cellpadding="0" cellspacing="0" border="0" class="display table" width="100%" style="color: black">
                    <thead>
                    <tr class="success" style="font-size:10pt; font: bold;">
                    <th width="">No</th>
                    <th width="">Nama Jenis Pajak</th>
                    <th width="">Target</th>
                    <th width="">Realisasi (Rp.)</th>
                    <th width="">%</th>
                    <th width="">Kurang/Lebih</th>
                    </tr>
                    </thead>
                    <tbody style="">
                    </tbody>
            </table>
            </div>
        </div>--> 
    </div>
</div>
<!--<script>
    var dTable;
   
    $(document).ready(function () {
        dTable = $('#example').DataTable({
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": false,
            "sAjaxSource": "<?= $this->url() ?>/datagridrealisasi", // Load Data
            "sServerMethod": "POST",
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aaSorting": [[0, "asc"]],
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "scrollX": true,
            "searching": false,

            "oLanguage": {
                "sEmptyTable": "Tidak ada data", //when empty
                "sSearch": "<span>Pencarian:</span> _INPUT_", //search
                "sLengthMenu": "<span>Tampilkan data:</span> _MENU_", //label
                "sZeroRecords": "<center>Tidak ada data</center>",
                "sEmptyTable": "<center>Tidak ada data</center>",
                "sInfo": "Halaman _PAGE_ dari _PAGES_ dari _TOTAL_ data",
                "sInfoEmpty": "Tidak ada data",
                "sProcessing": "<img src='<?= $this->basePath(); ?>/public/tablebos/img/loader.gif'>",
                "sLoadingRecords": "Loading...",
                "sInfoFiltered": "(Pencarian Dari _MAX_ total data)",         
                "oPaginate": {"sFirst": "First", "sLast": "Last", "sNext": "Next", "sPrevious": "Previous"} //pagination
            },

            "columnDefs": [
                {"orderable": false, "targets": [0,1,2,3,4,5], "searchable": false},
                            ]
                        });

        // Apply the search
        dTable.columns().eq(0).each(function (colIdx) {
            $('input', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).on('keyup change', function () {
                dTable
                        .column(colIdx)
                        .search(this.value)
                        .draw();
            });
            
        });
        
        $('.dataTable').removeClass('display').addClass('table table-striped table-bordered');
        
         function fnResetAllFilters() {
            
            dTable.columns().eq(0).each(function (colIdx) {
            $('select', dTable.column(colIdx).footer()).val('', function () {
                dTable
                        .column(colIdx)
                        .search('', true)
                        .draw();
            });            
            });  
            
            dTable2.columns().eq(0).each(function (colIdx) {
            $('select', dTable2.column(colIdx).footer()).val('', function () {
                dTable2
                        .column(colIdx)
                        .search('', true)
                        .draw();
            });            
            });
        }
    });
</script>-->
<script type="text/javascript">
    var detik = <?php echo date('s'); ?>;
    var menit = <?php echo date('i'); ?>;
    var jam   = <?php echo date('H'); ?>;
     
    function clock()
    {
        if (detik!=0 && detik%60==0) {
            menit++;
            detik=0;
        }
        second = detik;
         
        if (menit!=0 && menit%60==0) {
            jam++;
            menit=0;
        }
        minute = menit;
         
        if (jam!=0 && jam%24==0) {
            jam=0;
        }
        hour = jam;
         
        if (detik<10){
            second='0'+detik;
        }
        if (menit<10){
            minute='0'+menit;
        }
         
        if (jam<10){
            hour='0'+jam;
        }
        waktu = hour+':'+minute+':'+second;
         
        document.getElementById("clock").innerHTML = waktu;
        detik++;
    }
 
    setInterval(clock,1000);
    
    setTimeout(function () { 
      location.reload();
    }, 300000);
</script>