<link href="<?= $this->basePath(); ?>/public/css/animate-custom.css" rel="stylesheet">
<link href="<?= $this->basePath(); ?>/public/monarch/assets/themes/components/default.css" rel="stylesheet">
<?php
$bg = $this->MenuHelper()->GetDataBackground();

if (!empty($bg['file_bg_esptpd'])) {
    $filebg = $bg['file_bg_esptpd'];
} else {
    $filebg = '/public/upload/bg-pelabuhan.jpg';
}
?>

<style>
    .login-page{
        /*height-min: 125%;*/
        background: url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath() . $filebg; ?>') #fff no-repeat center center fixed; 
        min-height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    } 

    .login-warna {
        background: transparent url('http://<?= $_SERVER['HTTP_HOST']; ?><?= $this->basePath(); ?>/public//img/transpBlue75.png') repeat;
    }

    .login-img {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url() . '/resetpassword');
$form->setAttribute("id", "frm-horizontal");
$form->setAttribute("class", "form-signin");
$form->prepare();
?>
<div class="center-vertical animated bounceInDown">
    <div class="center-content row">
        <form action="#" id="login-validation" class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin" method="post">
            <?= $this->form()->openTag($form) ?>
            <div class="content-box login-warna" style=" border-radius: 10px">
                <h3 class="content-box-header content-box-header-alt pad0B">
                    <div class="col-md-12"><center><img src="<?= $this->basePath() . '/' . $data_pemda->s_logo ?>" alt="" width="70"></center></div>
                    <div class=" col-md-12" style=" color: white;font-size: 24pt;margin-top: 20px;">
                        <center><img src="<?= $this->basePath(); ?>/public/img/logoesptpd.png" width="140" style="margin-bottom: 5px;">
                            <small style="color: white;font-size: 11pt">Masukkan Email anda yang terdaftar!</small></center>
                    </div>
                </h3> 
                <div class="content-box-wrapper pad20A">
                    <div class="form-group">
                        <div class="input-group">
                            <?= $this->formRow($form->get("s_email")) ?>
                            <span class="input-group-addon">
                                <i class="glyph-icon icon-envelope-o"></i>
                            </span>
                        </div>
                    </div>
                    <?= $this->formRow($form->get("Resetsubmit")) ?>
                </div>
                <div class="button-pane text-center login-warna">
                    <!--<button type="submit" class="btn btn-md btn-warning">Kirim Password</button>-->
                    <a href="<?= $this->url('sign_in') ?>" class="btn btn-md btn-danger switch-button" title="Cancel">Cancel</a>
                </div>
            </div>
            <?= $this->form()->closeTag($form) ?>
        </form>

    </div>
</div>
<style type="text/css">
    html,body {
        height: 100%;
        /*background: gray;*/
    }
</style>

<script>
//    $(function () {
//
//        if (parseInt('<?$error_count ?>') > 0) {
//            alert('<?$error_message ?>');
//            $("#s_email").val("");
//        }
//
//    });
</script>
<?php if ($this->flashMessenger()->hasMessages()) { ?>
    <script>
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    </script>
    <?php
    echo '<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:80px;">
                    <div class="modal-dialog modal-sm" style="border:2px solid blue;">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p>';
                                $messages = $this->flashMessenger()->getMessages();
                                foreach ($messages as $message) {
                                    echo $message;
                                }
                                echo '</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyph-icon icon-check"></i> OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                ';
}
?>