<?php
$judul = '<span style="font-size: 24px;"><b>SETTING USER</b></span>';
$link = '<a href="'.$this->url().'/tambah" class="btn btn-sm btn-success">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Tambah</a>                                                       
                            ';

echo $this->MenuHelper()->headeratas($judul, $link);
?>


<table id="datapengguna"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%" >
    <thead>
        <tr class="bg-blue" style="font-size:10pt; font: bold;">
            <th width="20"><center>No</center></th>
            <th width="20"><center>USERNAME</center></th>
            <th width="20"><center>NAMA</center></th>
            <th width="20"><center>NIK</center></th>
            <th width="20"><center>HAK AKSES</center></th>
            <th width="70"><center>PERINTAH</center></th>

        </tr>
</thead>
<tbody>
</tbody>
<tfoot>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tfoot>
</table>


<?= $this->MenuHelper()->headeratas_end(); ?>                         




<style type="text/css">
    .dataTables_filter {
        display: none;
    }
</style> 

<?php
$idtabel = '#datapengguna';
$url = $this->url() . '/dataGrid';
$jmlkolom = 6;
$seleksi_kolom = "'0','5'"; //iki data sort di disabel
$pencarian_bawah = 1; //========== custom pencarian bawah 1 aktif, selain itu defeault pencarian
?>
<?= $this->MenuHelper()->fr_datatables($this->basePath(), $idtabel, $url, $jmlkolom, $pencarian_bawah, $seleksi_kolom, null); ?>
            

            
<script type="text/javascript">
    function formpencarianbawah() {
        $('th', dTable.table().footer()).each(function () {

            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            var title = $('th').eq($(this).index()).text();



            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else {
                $(this).html('<input type="text" placeholder="' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />');
            }

            if (title.trim().replace(/\s+/, "").toLowerCase() == 'perintah') {
                $(this).html('');
            }
            
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'hakakses') {
                $(this).html('<select class="form-control" required="required"><option value="">Silahkan pilih</option><option value="1">Wajib Pajak</option><option value="2">Admin</option><option value="3">OPD / SKPD</option></select>');
            }
            
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'namaobjek') {
                $(this).html('<input type="text" style="width:180px;" placeholder="' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />');
            }

            $('#ModalCariWP').on('shown.bs.modal', function (e) {
                
                dTable.columns.adjust();
            });

            
           

        });
    }
    

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            
        }
        setTimeout(function () {
            //calldatagrid();
            dTable.ajax.reload();

        }, 500);
    }

    
</script>
