<?php
$judul = '<span style="font-size: 24px;"><b>HISTORY LOG SESSION</b></span>';
$link = '';

echo $this->MenuHelper()->headeratas($judul, $link);
?>


<table id="datasession"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%" >
    <thead>
        <tr class="bg-orange" style="font-size:10pt; font: bold;">
            <th width="10"><center>No</center></th>
            <th width="20"><center>USERNAME</center></th>
            <th width="30"><center>NAMA</center></th>
            <th width="20"><center>IP ADDRESS</center></th>
            <th width="20"><center>LOGIN TIME</center></th>
            <th width="20"><center>LAST ACTIVE</center></th>

        </tr>
</thead>
<tbody>
</tbody>
<tfoot>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tfoot>
</table>


<?= $this->MenuHelper()->headeratas_end(); ?>                         




<style type="text/css">
    .dataTables_filter {
        display: none;
    }
</style> 

<?php
$idtabel = '#datasession';
$url = $this->url() . '/dataGridsessionhislog';
$jmlkolom = 6;
$seleksi_kolom = "'0','5'"; //iki data sort di disabel
$pencarian_bawah = 1; //========== custom pencarian bawah 1 aktif, selain itu defeault pencarian
?>
<?= $this->MenuHelper()->fr_datatables($this->basePath(), $idtabel, $url, $jmlkolom, $pencarian_bawah, $seleksi_kolom, null); ?>
            

            
<script type="text/javascript">
    function formpencarianbawah() {
        $('th', dTable.table().footer()).each(function () {

            $("#tgl_daftar_cari").datepicker({
                format: 'dd-mm-yyyy',
                language: 'id'
            });

            var title = $('th').eq($(this).index()).text();



            if (title.trim().replace(/\s+/, "").toLowerCase() == 'no') {
                $(this).html('<center>cari:</center>');
            } else {
                $(this).html('<input type="text" placeholder="' + title.trim().replace(/\s+/, "").toLowerCase() + '" class="pencariantable" />');
            }

            if (title.trim().replace(/\s+/, "").toLowerCase() == 'username') {
                $(this).html('<input type="text" placeholder="Username" class="pencariantable" />');
            }
            
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'nama') {
                $(this).html('<input type="text" placeholder="Nama WP" class="pencariantable" />');
            }
            
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'ip') {
                $(this).html('<input type="text" placeholder="IP Address" class="pencariantable" />');
            }
            
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'logintime') {
                $(this).html('');
            }
            
            if (title.trim().replace(/\s+/, "").toLowerCase() == 'lastactive') {
                $(this).html('');
            }
            
            $('#ModalCariWP').on('shown.bs.modal', function (e) {
                
                dTable.columns.adjust();
            });

            
           

        });
    }
    

    function hapus(a) {
        var tanya = confirm("Hapus data ini?")
        if (tanya) {
            $.post('<?= $this->url() ?>/hapus/' + a);
            
        }
        setTimeout(function () {
            //calldatagrid();
            dTable.ajax.reload();

        }, 500);
    }

    
</script>
