<?php
$frm = $this->frm;
$frm->setAttribute('action', $this->url() . '/ubahpass');
$frm->prepare();
?>            
<img src="<?= "http://" . $_SERVER['HTTP_HOST'] . "" . $this->basePath() . "/public/upload/bg.jpg"; ?>" class="login-img wow fadeIn" alt="">
<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-12 clearfix center-margin" style="border-radius: 5px;">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
                <form method="post" action="#">
                    <?= $this->form()->openTag($frm) ?>  
                    <?= $this->formRow($frm->get('s_iduser')) ?>
                    <div class="content-box">
                        <h3 class="content-box-header content-box-header-alt">
                            <span class="icon-separator pad5T">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                            <span class="header-wrapper">
                                Ubah Password
                                <small style="color: black">Masukkan Password !</small>
                            </span>
                        </h3> 
                        <div class="content-box-wrapper pad10T">
                            <div class="form-group">
                                <div class="input-group">
                                    <?= $this->formRow($frm->get('s_password')) ?>
                                    <span class="input-group-addon bg-blue">
                                        <i class="glyph-icon icon-unlock-alt"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <?= $this->formRow($frm->get('t_pass2')) ?>
                                    <span class="input-group-addon bg-blue">
                                        <i class="glyph-icon icon-unlock-alt"></i>
                                    </span>
                                </div>
                            </div>
                            <?= $this->formInput($frm->get('simpan')) ?>        
                        </div>  
                    </div>
                    <?= $this->form()->closeTag($frm) ?>
                </form>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    html,body {
        height: 100%;
        background: #fafafa;
    }
</style>