
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <?php
        if ($this->flashMessenger()->hasMessages()) {
            echo '<div class="alert alert-success alert-dismissable animated bounceInDown">'
            . '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
            $messages = $this->flashMessenger()->getMessages();
            foreach ($messages as $message) {
                echo $message;
            }
            echo '</div>';
        }
        ?>
        <div class="box-body" style="margin: 0px 5px 0px 5px;width: 100%;">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!--                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>-->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="<?= $this->basePath().''.$data_slidebgaktif; ?>" alt="Third slide">
                    </div>
                    <?php
                    foreach ($data_slidebg as $key => $v) {
                        echo '<div class="item">'
                        . '<img src="'.$this->basePath().''.$v['file_bg_slide'].'">'
                        . '</div>';
                    }
                    ?>
                    
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
        </div><!-- /.box-body -->
        <!-- Info boxes -->
        <?php if ($datauser['s_akses'] == 1) { ?>
            <!-- AKSES WAJIB PAJAK-->
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <?php
                    $bg_color1 = array("bg-aqua", "bg-green", "bg-red", "bg-blue", "bg-lime", "bg-orange", "bg-teal", "bg-marron", "bg-olive", "bg-marron");
                    $icon_nya1 = array("fa-building", "fa-cutlery", "fa-music", "fa-map-signs", "fa-plug", "fa-anchor", "fa-car", "fa-map", "fa-tint", "fa-map");
                    $dataobjekpajak2 = $this->MenuHelper()->get_menu_user_esptpd($datauser['s_wp']);
                    foreach ($dataobjekpajak2 as $row) {
                        $jumlah_pelaporan2 = $this->MenuHelper()->get_carijumlahpelaporan($datauser['s_wp'], $row["s_idjenis"]);
                        $color_bg1 = $bg_color1[(int) $row["s_idjenis"] - 1];
                        $iconss1 = $icon_nya1[(int) $row["s_idjenis"] - 1];
                        ?>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-box <?= $color_bg1 ?>">
                                <span class="info-box-icon"><i class="fa <?= $iconss1 ?>"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Jumlah <?= $row['s_namajenis'] ?></span>
                                    <span class="info-box-number">Rp. <?= number_format($jumlah_pelaporan2['t_jmlhpajak'], 0, ',', '.') ?>,-</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%"></div>
                                    </div>
                                    <span class="progress-description">
                                        <span class="badge" style="padding:5px 15px;">Periode <?= date('Y') ?></span>
                                    </span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <?php
                    }
                    ?>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-orange">
                            <div class="widget-user-image">
                                <img class="img-circle" src="<?= $this->basePath() ?>/public/img/icon-user.png" alt="User Avatar">
                            </div><!-- /.widget-user-image -->
                            <h3 class="widget-user-username"><?= $datauser['s_nama']; ?></h3>
                            <h6 class="widget-user-desc" title=""><b><i></i></b></h6>
                            <h5 class="widget-user-desc"><span class="badge bg-black"><b style="color:greenyellow;font-size: 12pt;">NPWPD : <?= $data_wp['t_npwpd'] ?></b></span></h5>    
                            <h5 class="widget-user-desc"><?= strtoupper($data_wp['t_alamat_lengkap']) ?></h5>
                            <h5 class="widget-user-desc"><b>IP. Address: <?= $_SERVER['REMOTE_ADDR']; ?></b></h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a><b>Jumlah Pajak Dilaporkan </b><span class="badge">Periode <?= date('Y') ?></span></a></li>
                                <?php
                                $dataobjekpajak3 = $this->MenuHelper()->get_menu_user_esptpd($datauser['s_wp']);
                                foreach ($dataobjekpajak3 as $row1) {
                                    ?>
                                    <li><a><?= substr($row1["s_namajenis"], 0, 35) ?>
                                            <?php
                                            $jumlah_dipelaporan2 = $this->MenuHelper()->get_carijumlahpelaporan($datauser['s_wp'], $row1["s_idjenis"]);
                                            ?>
                                            <span class="pull-right badge bg-green"><?= number_format($jumlah_dipelaporan2['t_jmlhpelaporan'], 0, ',', '.') ?></span>
                                        </a>
                                    </li>
                                <?php }
                                ?>
                            </ul>
                        </div>
                    </div>    
                </div>   
            </div>
<?php }elseif ($datauser['s_akses'] == 3){ ?>

<?php } else { ?>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <?php
                    $bg_color1 = array("bg-aqua", "bg-green", "bg-red", "bg-blue", "bg-lime", "bg-orange", "bg-teal", "bg-marron", "bg-olive", "bg-marron");
                    $icon_nya1 = array("fa-building", "fa-cutlery", "fa-music", "fa-map-signs", "fa-plug", "fa-anchor", "fa-car", "fa-map", "fa-tint", "fa-map");
                    $dataobjekpajak2 = $this->MenuHelper()->get_menu_user_esptpd_admin();
                    foreach ($dataobjekpajak2 as $row) {
                        $jumlah_pelaporan2 = $this->MenuHelper()->get_carijumlahpelaporan_admin($row["s_idjenis"]);
                        $color_bg1 = $bg_color1[(int) $row["s_idjenis"] - 1];
                        $iconss1 = $icon_nya1[(int) $row["s_idjenis"] - 1];
                        ?>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-box <?= $color_bg1 ?>">
                                <span class="info-box-icon"><i class="fa <?= $iconss1 ?>"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Jumlah <?= $row['s_namajenis'] ?></span>
                                    <span class="info-box-number">Rp. <?= number_format($jumlah_pelaporan2['t_jmlhpajak'], 0, ',', '.') ?>,-</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%"></div>
                                    </div>
                                    <span class="progress-description">
                                        <span class="badge" style="padding:5px 15px;">Periode <?= date('Y') ?></span>
                                    </span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <?php
                    }
                    ?>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-orange">
                            <div class="widget-user-image">
                                <img class="img-circle" src="<?= $this->basePath() ?>/public/img/icon-user.png" alt="User Avatar">
                            </div><!-- /.widget-user-image -->
                            <h3 class="widget-user-username"><?= $datauser['s_nama']; ?></h3>
                            <h6 class="widget-user-desc" title=""><b><i></i></b></h6>

                            <h5 class="widget-user-desc"><b>IP. Address: <?= $_SERVER['REMOTE_ADDR']; ?></b></h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><a><b>Jumlah Pajak Dilaporkan </b><span class="badge">Periode <?= date('Y') ?></span></a></li>
                                <?php
                                $dataobjekpajak3 = $this->MenuHelper()->get_menu_user_esptpd_admin();
                                foreach ($dataobjekpajak3 as $row1) {
                                    ?>
                                    <li><a><?= substr($row1["s_namajenis"], 0, 35) ?>
                                            <?php
                                            $jumlah_dipelaporan2 = $this->MenuHelper()->get_carijumlahpelaporan_admin($row1["s_idjenis"]);
                                            ?>
                                            <span class="pull-right badge bg-green"><?= number_format($jumlah_dipelaporan2['t_jmlhpelaporan'], 0, ',', '.') ?></span>
                                        </a>
                                    </li>
    <?php }
    ?>
                            </ul>
                        </div>
                    </div>    
                </div>   
            </div>

<?php } ?>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

