<footer class="main-footer" style="text-align:right">
    <div class="pull-right hidden-xs">
        <!--<b>Beta Version</b>-->
    </div>
    <?php
    if (date('Y') == 2022) {
        echo 'Copyright &copy; 2022 &nbsp;<a href="javascript:void(0);">
                    <img width="28" src="' . $this->basePath().'/public/upload/gunungmas.png"> BAPENDA GUNUNG MAS</a>';
    } else {
        echo 'Copyright &copy; 2022-' . date('Y') ." ". '<a href="javascript:void(0);"><img width="28" src="' . $this->basePath().'/public/upload/logo.png"> BAPENDA GUNUNG MAS</a>';
    }
    ?>

    <!--<strong>Copyright &copy; 2017 <a href="#">PT. MITRA PRIMA UTAMA</a>.</strong>-->
</footer>