<?php
$pemda = $this->MenuHelper()->GetDataPemda();
$layout = $this->MenuHelper()->GetDataLayout();

function menuaktif($menu)
{

    if (!empty($menu)) {
        $menu = 'class="active"';
    } else {
        $menu = '';
    }

    return $menu;
}

function menutreeaktif($menu)
{

    if (!empty($menu)) {
        $menu = 'active';
    } else {
        $menu = '';
    }

    return $menu;
}
?>

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image" style="background: <?= $this->basePath(); ?>/public/img/145925-0.90.png;padding-bottom: 10px;">
                <img src="<?= $this->basePath() . "/public/upload/logo.png" ?>" class="img-full" alt="User Image">
            </div>
            <div class="pull-left info">

                <p>
                    <!-- <?= strtoupper($pemda->s_namasingkatinstansi); ?> -->
                    <?= strtoupper($pemda->s_namainstansi); ?>
                </p>
                KABUPATEN <?= strtoupper($pemda->s_namakabkota); ?>
            </div>
        </div>

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li <?= menuaktif($this->homeaktif); ?>><a href="<?= $this->url('main') ?>" title="Menu Utama Aplikasi"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>


            <?php
            if ($datauser['s_akses'] == 2) {
                echo ' <li class="treeview ' . menutreeaktif($this->pendataanaktif . $this->s_idjenis) . '">
                     <a href="#">
                         <i class="fa fa-tasks"></i>
                         <span>Pendataan</span>
                         <i class="fa fa-angle-left pull-right"></i>
                     </a>
                     <ul class="treeview-menu">';

                $dataRekSelf = $this->MenuHelper()->getRekeningSelfesptpd();
                foreach ($dataRekSelf as $vRek) {
                    if ($this->s_idjenis == $vRek['s_idjenis']) {
                        $aktifpendataan = 'class="active"';
                    } else {
                        $aktifpendataan = '';
                    }
                    echo '<li ' . $aktifpendataan . '><a href="' . $this->url('pendataan') . '/' . $vRek['s_idjenis'] . '"><i class="fa fa-circle-o"></i><span> ' . $vRek['s_namajenis'] . '</span></a></li>';
                }
                echo '</ul>'
                    . '</li>';
                echo ' <li class="treeview ' . menutreeaktif($this->settinguseraktif . $this->ubahpassaktif . $this->settingbackround . $this->settingslidebackround . $this->historylogsession . $this->hisaktifitas) . '">
                    <a href="#">
                        <i class="fa fa-gears"></i> <span>Setting</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">     
                        <li ' . menuaktif($this->settinguseraktif) . '><a href="' . $this->url('setting_user') . '" title="Setting Pengguna"><i class="fa fa-circle-o"></i> <span>Pengguna</span></a></li>
                        
                        <li ' . menuaktif($this->historylogsession) . '><a href="' . $this->url('setting_user') . '/sessionhislog" title="History Log Session"><i class="fa fa-circle-o"></i> <span>History Log Session</span></a></li>
                        <li ' . menuaktif($this->hisaktifitas) . '><a href="' . $this->url('setting_user') . '/hisaktifitas" title="History Activity User"><i class="fa fa-circle-o"></i> <span>History Activity User</span></a></li>
                        <li ' . menuaktif($this->ubahpassaktif) . '><a href="' . $this->url('setting_user') . '/ubahpassback' . '" title="Menu Merubah Password"><i class="fa fa-lock"></i> <span>Ubah Password</span></a></li>
                    </ul>
                </li> ';
            }
            // <li ' . menuaktif($this->settingbackround) . '><a href="' . $this->url('background') . '" title="Layout Background"><i class="fa fa-circle-o"></i> <span>Background Login</span></a></li>
            //             <li ' . menuaktif($this->settingslidebackround) . '><a href="' . $this->url('slidebackground') . '" title="Slide Background"><i class="fa fa-circle-o"></i> <span>Background Slide</span></a></li>
            ?>

            <?php
            if ($datauser['s_akses'] == 1) {
                $dataobjekpajak = $this->MenuHelper()->get_menu_user_esptpd($datauser['s_wp']);
                echo '<li class="treeview ' . menutreeaktif($this->laporanaktif) . '">
                    <a href="#">
                        <i class="fa fa-file-archive-o"></i> <span>LAPOR PAJAK </span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">';
                //var_dump($dataobjekpajak);exit();
                foreach ($dataobjekpajak as $v) {
                    if ($this->sub_menu_jenispajak == $v['s_idjenis']) {
                        $aktifsubobjek = 'class="active"';
                        $aktifsubobjektree = 'active';
                    } else {
                        $aktifsubobjek = '';
                        $aktifsubobjektree = '';
                    }
                    echo '<li ' . $aktifsubobjek . '>'
                        . '<a href="#"><i class="fa fa-circle-o"></i> ' . strtoupper($v['s_namajenis']) . ' <i class="fa fa-angle-left pull-right"></i></a>'
                        . '<ul class="treeview-menu ' . $aktifsubobjektree . '">';
                    $subrek = $this->MenuHelper()->getmenu_opwp($v['s_idjenis'], $datauser['s_wp']);
                    if (count($subrek)) {
                        //                                        echo '<li><a href="">SUB</a></li>';
                        foreach ($subrek as $vsubrek) {
                            if ($this->sub_menu_objekwp == $vsubrek['t_idobjek']) {
                                $aktifkoreksub = 'class="active"';
                            } else {
                                $aktifkoreksub = '';
                            }

                            if ($vsubrek['s_objekkorek'] == 05) {
                                $s_namakorek = 'PPJ ' . substr($vsubrek['s_namakorek'], 23);
                            } else if ($vsubrek['s_objekkorek'] == 11) {
                                $s_namakorek = 'MINERBA ';
                            } else {
                                $s_namakorek = $vsubrek['s_namakorek'];
                            }
                            echo '<li ' . $aktifkoreksub . '><a href="' . $this->url('laporan') . '/' . $vsubrek['t_jenisobjek'] . '/' . $vsubrek['t_idobjek'] . '/null/' . $vsubrek['s_idkorek'] . '">'
                                . '' . $vsubrek['s_tipekorek'] . '.' . $vsubrek['s_kelompokkorek'] . '.' . $vsubrek['s_jeniskorek'] . '.' . $vsubrek['s_objekkorek'] . '.' . $vsubrek['s_rinciankorek'] . ' ||<br> ' . wordwrap($s_namakorek, 38, "<br>\n") . ' <br>' . $vsubrek['t_namaobjek'] . ' <br>Kec. ' . $vsubrek['s_namakec'] . ' <br>Kel. ' . $vsubrek['s_namakel'] . '</a></li>';
                        }
                    } else {
                        echo '<li><a title="REKENING BELUM TERDAFTAR" href="#"><i  style="color: #337AB7" class="fa fa-list"></i>REKENING BELUM TERDAFTAR</a></li>';
                    }
                    echo '</ul>'
                        . '</li>';
                }
                echo '</ul>
                        </li>';
                //                echo '<li '.menuaktif($this->cetaklaporanwpaktif).'><a href="'.$this->url('laporan').'/cetaklaporanwp" title="Cetak Laporan WP"><i class="fa fa-print"></i><span>Cetak Laporan</span></a></li>';
                //                echo '<li><a href="' . $this->basePath() . '/public/panduan/Panduan_e-SPTPD_WP.pdf" target="_blank" title="Buku Panduan WP"><i class="fa fa-book"></i><span>Buku Panduan</span></a></li>';
                echo '<li ' . menuaktif($this->ubahpassaktif) . '><a href="' . $this->url('laporan') . '/ubahpassback" title="Menu Merubah Password"><i class="fa fa-key"></i><span>Ubah Password</span></a></li>';
            }

            if ($datauser['s_akses'] == 3) {
            ?>
                <li <?= menuaktif($this->laporanskpdaktif); ?>><a href="<?= $this->url('laporan') . '/indexskpd' ?>" title="Pelaporan OPD/SKPD"><i class="fa fa-file-text-o"></i><span>Pelaporan OPD/SKPD</span></a></li>
                <li <?= menuaktif($this->ubahpassaktif); ?>><a href="<?= $this->url('laporan') . '/ubahpassback' ?>" title="Menu Merubah Password"><i class="fa fa-key"></i><span>Ubah Password</span></a></li>
            <?php } ?>
        </ul>
    </section>
</aside>