
<header class="main-header">

    <a href="<?= $this->url('main') ?>" class="logo">
        <span class="logo-lg"><img src="<?= $this->basePath(); ?>/public/img/logoesptpd.png" width="120"></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
     
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<?= $this->basePath(); ?>/public/img/icon-user.png" class="user-image" alt="User Image">
              <span class="hidden-xs">
                  <?php //$userName = explode(' ', @$datauser['s_nama']); ?>
                    <?= @$datauser['s_nama'] ?>
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="<?= $this->basePath(); ?>/public/img/icon-user.png" class="img-circle" alt="User Image">

                <p>
                  
                    
                    <?= $datauser['s_nama']; ?><br>
                                ( <i><?= $datauser['s_namauserrole']; ?></i> )
                  <small>-------------------------</small>
                </p>
              </li>
              <!-- Menu Body -->
              <?php
              if($datauser['s_akses'] == 1 || $datauser['s_akses'] == 3){
                  $url_name = $this->url('laporan') . '/ubahpassback';
              }else{
                  $url_name = $this->url('setting_user') . '/ubahpassback';
              }
              ?>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="<?= $url_name ?>" class="btn btn-default btn-flat">UBAH PASSWORD</a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-default btn-flat" id="logout-btn" href="<?= $this->url('sign_in') . '/logout' ?>" title="Logout">KELUAR</a>  
                 
                </div>
              </li>
            </ul>
          </li>
          
        </ul>
      </div>

    </nav>
  </header>

